<section class="got-questions-area  inner-spacing bg-color2">
    <div class="got-questions-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-lg-6" style="white-space: nowrap;">
                    <h2 class="heading-2">Get Involved</h2>
                </div>
                
                <!-- Try PCMT Button -->
                <div class="col-md-3 col-lg-2">
                    <div class="got-questions-btn-wrapper text-right list-inline wow fadeInUp custButton" data-toggle="modal" data-target="#tryPCMTModal">
                        <div class="got-questions-btn btn btn-primary">Try PCMT</div>
                    </div>
                </div>

                <!-- Try PCMT Modal -->
                <div class="modal fade" id="tryPCMTModal" tabindex="-1" role="dialog" aria-labelledby="tryPCMTModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="tryPCMTModalLabel">Try PCMT</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                Please <a href="https://demo.productcatalog.io" target="_blank">click here</a> and login using these credentials.
                                <br /><br />
                                Username: admin <br />
                                Password: Admin123
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Download Button-->
                <div class="col-md-3 col-lg-2">
                    <div class="got-questions-btn-wrapper text-right list-inline wow fadeInUp custButton">                    
                        <a href="https://gitlab.com/pcmt/pcmt/-/releases" class="got-questions-btn btn btn-primary">Download</a>
                    </div>
                </div>

                <!-- Contact Us Button-->
                <div class="col-md-3 col-lg-2">
                    <div class="got-questions-btn-wrapper text-right list-inline wow fadeInUp custButton">                    
                        <!-- See comment in footer.html -->
                        <script language="JavaScript" type="text/javascript">
                            document.write(
                                '<a href="&'+'#'+'x6'+'D;'+'&#'+'x6'+'1;'+'&#'+'x6'+'9;'+'&#x'+'6C'+';&'+'#x'+'74'+';&'+'#x6F;&#x3A'+';&#x70;&#'+'x63;&#x6D;'+'&#x74;&#x40'+';&#x76;&#x6'+'9;&#x6C;&#x6C;&#x61;&#x67;&#'+'x65;&#x72;&'+'#x65;&#x61;&#'+'x63;&#x68;&#x2E;&#'+'x6F;&#x72;&#x67;?subject=PCMT&body=" class="got-questions-btn btn btn-primary">Contact Us</a>'   
                            );
                        </script>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>