<section class="faq-area section-spacing bg-color1">
<div class="faq-wrapper">
    <div class="container">
        <div class="section-title">
            <h2 class="headeing-2"> <span class="section-style">Resources </span></h2>
            <p>Explore more PCMT information, demos, and documentation</p>
        </div>
        <div class="row">
            <div class="col-md-6">

            <div class="faq-listed accordion" id="faq-listed">
                <div class="faq-boxed">
                    <div class="faq-heading card-header" id="headingOne">
                        <button class="btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Introduction to PCMT
                        </button>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#faq-listed">
                        <div class="faq-body card-body">
                        <ul>
                            <li><a href="https://gitlab.com/pcmt/pcmt/-/releases" target="blank">Release Documentation</a></li>
                            <li><a href="https://drive.google.com/drive/folders/1CzKqAolF6TRhsSeqoWZ6XaZUkXTsIwK3" target="blank">Slides</a> - Background on the PCMT and OpenHIE Product Registry concepts</li>
                            <li><a href="https://drive.google.com/open?id=1JZYQ8XNQz0bZUSNOboJRK94DktOFFyU0" target="blank">Google Drive</a> - Public meetings notes and background</li>
                        </ul>
                        </div>
                    </div>
                </div>
                <div class="faq-boxed">
                    <div class="faq-heading card-header" id="headingTwo">
                        <button class="btn" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Demos & Videos 
                        </button>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faq-listed">
                        <div class="faq-body card-body">
                        <ul>
                            <li><a href="https://youtu.be/TLGRf_A66hg" target="blank">Demo</a></li>
                            <li><a href="https://youtu.be/m0zHWn_2pts" target="blank">Webinar</a></li>
                        </ul>
                        </div>
                    </div>
                </div>

            </div>

            </div>


            <div class="col-md-6">
            <div class="faq-listed accordion" id="faq-listed2">

                <div class="faq-boxed">
                    <div class="faq-heading card-header" id="headingThree">
                        <button class="btn collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        User Documentation
                        </button>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faq-listed">
                        <div class="faq-body card-body">
                            <ul>
                                <li><a href="https://docs.google.com/document/d/1zv8hhq8zpR1SNw5ssddCl10UpgsLuwd0s96BR5hRSNc/edit?usp=sharing" target="blank">One-Page Overview</a></li>
                                <li><a href="https://docs.google.com/document/d/1DIWDSR-8MAKSHVc2JDlp0h4MdhSpnjEQFKT8y0WsPC8/edit" target="blank">User Documentation</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="faq-boxed">
                    <div class="faq-heading card-header" id="headingOne2">
                        <button class="btn" data-toggle="collapse" data-target="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">
                        Development
                        </button>
                    </div>
                    <div id="collapseOne2" class="collapse show" aria-labelledby="headingOne2" data-parent="#faq-listed2">
                        <div class="faq-body card-body">
                            <ul>
                                <li><a href="https://gitlab.com/pcmt/pcmt/blob/master/README.md" target="blank">README</a> - Quick Start and instructions to build and run locally</li>
                                <li><a href="https://about.gitlab.com/blog/2018/03/05/gitlab-for-agile-software-development/" target="blank">How to use GitLab for Agile Software Development</a></li>
                                <li><a href="https://gitlab.com/pcmt/pcmt/-/wikis/Development/Git-flow-Git-working-methodology" target="blank">Git Working Methodology</a></li>
                                <li><a href="https://gitlab.com/pcmt/pcmt/-/wikis/onboarding" target="blank">Onboarding</a></li>
                                <li><a href="https://gitlab.com/pcmt/pcmt/-/wikis/Request-Access" target="blank">How to Request Access to PCMT</a></li>
                                <li><a href="https://gitlab.com/pcmt/pcmt/-/wikis/architecture" target="blank">Architecture</a></li>
                                <li><a href="https://gitlab.com/pcmt/pcmt/-/wikis/Akeneo-design-elements" target="blank">Akeneo Design Elements</a></li>
                                <li><a href="https://gitlab.com/pcmt/pcmt/-/wikis/Development/How-to-create-Jobs" target="blank">How to Create Jobs</a></li>
                                <li><a href="https://gitlab.com/pcmt/pcmt/-/wikis/How-to-Version-and-Release" target="blank">How to Version and Release</a></li>
                                <li><a href="https://gitlab.com/pcmt/pcmt/-/wikis/How-to-Deploy" target="blank">How to Deploy</a></li>
                                <li><a href="https://gitlab.com/pcmt/pcmt/-/wikis/Development/Troubleshooting" target="blank">Troubleshooting</a></li>
                                <li><a href="https://gitlab.com/pcmt/pcmt/-/wikis/Contributors" target="blank">Contributors</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- End Faq Area -->