<!-- Start Feature Area-->
<section class="feature-area section-spacing bg-color1 {% if page.layout == 'page' %} bg-color3 {% endif %}">
<div class="feature-wrapper">
    <div class="container">
        <div class="section-title">
            <h2 class="headeing-2"><span class="section-style">Why global health care needs a change</span></h2>
            <p>Global health supply chains face an acute pain point maintaining product master data because many organizations use inconsistent product identifiers and employ highly manual processes.</p>
        </div>
        <div class="feature-box-wrapper">
            <div class="feature-box-left">
            <div class="feature-box">
                <div class="feature-logo wow bounceIn" data-wow-duration="1s">
                    <div class="feature_icon1"></div>
                </div>
                <div class="feature-content">
                    <h4 class="heading-4"> Inconsistent product identifiers</h4>
                    <p>No master identifier for products distributed globally</p>
                </div>
            </div>
            <div class="feature-box">
                <div class="feature-logo wow bounceIn" data-wow-duration="1s">
                    <div class="feature_icon2"></div>
                </div>
                <div class="feature-content">
                    <h4 class="heading-4">Highly manual processes</h4>
                    <p>Tracking systems require human input and are prone to error</p>
                </div>
            </div>
            </div>
            <div class="feature-box-shap  wow fadeIn" data-wow-duration="1s"><img src="{{site.baseurl}}/assets/images/world-healthcare.png" alt="feature img"/></div>
            <div class="feature-box-right">
            <div class="feature-box">
                <div class="feature-logo wow bounceIn" data-wow-duration="1s">
                    <div class=" feature_icon3"></div>
                </div>
                <div class="feature-content">
                    <h4 class="heading-4">Disconnected product catalogs</h4>
                    <p>Does not allow supply chains to work together</p>
                </div>
            </div>
            <div class="feature-box">
                <div class="feature-logo wow bounceIn" data-wow-duration="1s">
                    <div class=" feature_icon4"></div>
                </div>
                <div class="feature-content">
                    <h4 class="heading-4">Lack of end-to-end visibility</h4>
                    <p>Difficult to get supplies where they are needed most</p>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- End Feature Area -->