<!-- Start themeix-hosting Area -->
<section class="themeix-hosting-area round-shap pb-0 section-spacing bg-color1">
<div class="themeix-hosting-faq-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 wow fadeInLeft"  data-wow-delay="500ms">
                <img src="{{site.baseurl}}/assets/images/laptop-pcmt-1.png" alt="images icon" />
            
            </div>
            <div class="col-md-6">
            <div class="inner-title">
                    <h2 class="headeing-2">Features for supply chain professionals</h2>
                </div>
            <div class="feature-list-wrapper">
                <div class="feature-list list-inline">
                    <div class="feature-list-icon">
                        <img src="{{site.baseurl}}/assets/images/feature-list-icon.png" alt="Icon - user-friendly" />
                    </div>
                    <div class="feature-list-content">
                        <h4 class="heading-4">User-friendly product information management</h4>
                    </div>
                </div>
                <div class="feature-list list-inline">
                    <div class="feature-list-icon">
                        <img src="{{site.baseurl}}/assets/images/feature-list-icon2.png" alt="Icon - interoperable" />
                    </div>
                    <div class="feature-list-content">
                        <h4 class="heading-4">Interoperable with other systems</h4>
                    </div>
                </div>
                <div class="feature-list list-inline">
                    <div class="feature-list-icon">
                        <img src="{{site.baseurl}}/assets/images/feature-list-icon3.png" alt="Icon - coding" />
                    </div>
                    <div class="feature-list-content">
                        <h4 class="heading-4">Supports multiple ways of coding, classifying and identifying products</h4>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- End themeix-hosting Area -->