<!-- Start Service Area -->	
<section class="service-area section-spacing sec_minus-30 bg-color3 pcmtsolution">
<div class="service-wrapper" >
    <div class="container">
        <div class="section-title">
            <h2 class="headeing-2"> <span class="section-style reverse" style="color: #ffffff">The PCMT Solution</span> </h2>
            <p class="reverse">The Project Catalog Management Tool aims to connect product catalogs in order to show a clear journey from manufacturer to patient. It establishes master data that includes GS1 identifiers, global categories, and mappings to local identifiers. This enables end-to-end visibility, allows shipments to flow between systems, and helps supply chains perform.</p>
            <!--<br>
            <h4 class="heading-4 reverse">PCMT Benefits:</h4>-->
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
            <div class="service-box wow fadeIn" data-wow-duration="1s">
                <div class="service-title">
                    <div class="service-logo1 service-logo"></div>
                </div>
                <div class="service-content">
                    <p style="font-size: 18px;">Better data for decision-making</p>
                </div>
            </div>
            </div>
            <div class="col-md-6 col-lg-4">
            <div class="service-box wow fadeIn" data-wow-duration="1s">
                <div class="service-title">
                    <div class="service-logo2 service-logo"></div>
                </div>
                <div class="service-content">
                    <p style="font-size: 18px;">Streamlined supply chain operations</p>
                </div>
            </div>
            </div>
            <div class="col-md-6 col-lg-4">
            <div class="service-box wow fadeIn" data-wow-duration="1s">
                <div class="service-title">
                    <div class="service-logo3 service-logo"></div>
                </div>
                <div class="service-content">
                    <p style="font-size: 18px;">More patients reached when and where needed</p>
                </div>
            </div>
            </div>

        </div>
    </div>
</div>
</section>
<!-- End Service Area -->	