/*--------------------------------------------------------------------------
/*--------------------------------------------------------------------------
Template name:  Axiohost - Hosting Template
Template URI: https://themeforest.net/user
Author name: Themeix
Author URI: https://themeforest.net/user
Taga: domain registration, domains, hosting, shared web hosting, web hosting, web site, website design, website hosting
Version: 1.0
===========================
INDEX CSS


1. Default Css
2. Header Area
3. Modal Popup
4. Slider Area
5. Post Title Area
6. Domain Search Area
7. Feature Area
8. Service area
9. Faq Area
10. Solution Area
11. Call To Action Area
12. Pricing Plan Area
13. Testimonial Area
14. Testimonial List Area
15. Cart Checkout Area
16. General Question Area
17. Blog Area
18. Sidebar Area
19. Hosting Solution Area
20. Got Questions Area
21. Register Area
22. Contact Area
23. Privacy Policy Area
24. Shop Area
25. Footer Area
===========================
------------------------------------------------------------------------------*/


/* ==============================================
1. Default Css
============================================== */

*:hover {
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	transition: 0.5s all;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	line-height: 1.5;
	font-size: 20px;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	color: #425058;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}

::-moz-selection {
	background: #d8d8d8;
	text-shadow: none;
	color: #ffffff;
}

::selection {
	background: #d8d8d8;
	text-shadow: none;
	color: #ffffff;
}

::-webkit-input-placeholder {
	color: #dcdcdc;
	font-size: 16px;
}

:-moz-placeholder {
	color: #dcdcdc;
	font-size: 16px;
}


/* new */
a {
    color: #84b040;
}
a:hover {
    color: #425058;
}


a,
a:hover,
a:visited,
a:active,
a:focus {
	text-decoration: none;
	outline: 0px;
	outline-offset: 0px;
}

img {
	max-width: 100%;
}

select.form-control:not([size]):not([multiple]) {
	height: auto;
}

select:focus,
select:hover,
select:active,
textarea:focus,
textarea:hover,
textarea:active,
input:focus,
input:hover,
input:active,
button:focus,
button:hover,
button:active, .btn.focus, .btn:focus {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	outline: none !important;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	color: #000000;
	font-weight: 700;
	margin-top: 0;
}

[class*=light-text] * {
	color: #fff !important;
}

[class*=light-text] .btn {
	color: #84b040 !important;
	background-color: #fff !important;
	border-color: #fff !important;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
	color: #fff;
	background-color: #84b040;
	border-color: #84b040;
}


/* background color style */

.bg-color1 {
	background-color: #FFFFFF;
}

.bg-color2 {
	background: #84b040;
}

.bg-color3 {
	background-color: #F7F7F7;
}

.bg-color4 {
	background-color: #6B53C1;
}
/* background color style */


.slider-bg1{
	background-image:url(../images/slider-bg-1.jpg);
}
.slider-bg2{
	background-image:url(../images/slider-bg-2.jpg);
}
.slider-bg3{
	background-image:url(../images/slider-bg-3.jpg);
}
.bg-image1{
	background-image:url(../images/call-to-action.jpg);
}
.bg-image2{
	background-image:url(../images/genarel-question-img.jpg);
}


/* spacing style */

.section-spacing {
	padding: 120px 0;
}

.sec_minus-30 {
	padding-bottom: calc(100px - 30px);
}

.inner-spacing {
	padding: 50px 0;
}

.got-questions-area {
	margin: 120px 0 0 0;
}

.in_minus-30 {
	padding-bottom: calc(50px - 30px);
}

.bottom-spacing {
	padding: 0 0 120px 0;
}


/* Image style */

.loader-wrapper {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 9999999;
	background-color: #ffffff;
}

.lds-roller {
	display: inline-block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	width: 64px;
	height: 64px;
	margin: auto;
}

.lds-roller div {
	-webkit-animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	-webkit-transform-origin: 32px 32px;
	-ms-transform-origin: 32px 32px;
	transform-origin: 32px 32px;
}

.lds-roller div:after {
	content: " ";
	display: block;
	position: absolute;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	margin: -3px 0 0 -3px;
	background-color: #84b040;
}

.lds-roller div:nth-child(1) {
	-webkit-animation-delay: -0.036s;
	animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
	top: 50px;
	left: 50px;
}

.lds-roller div:nth-child(2) {
	-webkit-animation-delay: -0.072s;
	animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
	top: 54px;
	left: 45px;
}

.lds-roller div:nth-child(3) {
	-webkit-animation-delay: -0.108s;
	animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
	top: 57px;
	left: 39px;
}

.lds-roller div:nth-child(4) {
	-webkit-animation-delay: -0.1.4s;
	animation-delay: -0.1.4s;
}

.lds-roller div:nth-child(4):after {
	top: 58px;
	left: 32px;
}

.lds-roller div:nth-child(5) {
	-webkit-animation-delay: -0.18s;
	animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
	top: 57px;
	left: 25px;
}

.lds-roller div:nth-child(6) {
	-webkit-animation-delay: -0.216s;
	animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
	top: 54px;
	left: 19px;
}

.lds-roller div:nth-child(7) {
	-webkit-animation-delay: -0.252s;
	animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
	top: 50px;
	left: 14px;
}

.lds-roller div:nth-child(8) {
	-webkit-animation-delay: -0.288s;
	animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
	top: 45px;
	left: 10px;
}

@-webkit-keyframes lds-roller {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes lds-roller {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}


/* Image style */

#scrollUp {
	background-image: url("../images/top.png");
	bottom: 20px;
	right: 20px;
	width: 38px;
	height: 38px;
	color: transparent;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	position: fixed;
	z-index: 1;
}

.section-title {
	text-align: center;
	margin-bottom: 60px;
}

.section-title h2 {
	font-size: 34px;
	line-height: 50px;
	font-weight: 700;
	position: relative;
	margin-bottom: 10px;
	margin-top: -8px;
}

.section-title .section-style {
	color: #000000;
}

.section-title .section-label {
	font-weight: 300;
	position: absolute;
	width: 130px;
	left: 0;
	right: 0;
	top: 0;
	margin: auto;
	font-size: 90px;
	color: #84b040;
	opacity: 0.11;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=11)";
	text-align: center;
}

.section-title p {
	max-width: 70%;
	margin: 0 auto;
}

.inner-title {
	margin-bottom: 40px;
}

.inner-title h2 {
    font-size: 34px;
    line-height: 1.2;
    font-weight: 700;
    position: relative;
	    color: #000000;
}

.inner-title p {
	margin: 0 auto;
}


/* =============================
2. Header Area
================================ */

.header-area {
	padding: 0px 0px;
	display: table;
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	margin-top: 30px;
	z-index: 333;
}

.navigation-wrapper {
	position: relative;
}

.navigation-wrapper .navigation-brand {
	text-align: center;
}

.navigation-wrapper .logo-brand {
	display: block;
	margin-top: 30px;
}

.logo-brand {
	width: 30%;
	margin-left: auto;
    margin-right: auto;
}

.navigation-wrapper .navigation-main {
	float: right;
}

.navigation-wrapper #navigation-menu li a {
	font-size: 15px;
	line-height: 1.4;
	color: #fff;
	padding: 30px 30px 5px 15px;
}

.navigation-wrapper #navigation-menu li {
	background-color: transparent;
	border: 0 !important;
}

.navigation-wrapper #navigation-menu li a {
	color: #fff;
	font-size: 16px;
	line-height: 1.4;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.navigation-wrapper #navigation-menu>li>a {
	font-weight: 300;
}

 

#navigation-menu li.has-submenu ul li a {
	color: #8d8992;
}

#navigation-menu li.has-submenu>ul:before {
	content: "";
	background-color: #fff;
	width: 15px;
	height: 15px;
	display: block;
	position: relative;
	left: 10px;
	top: 10px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

#navigation-menu li.has-submenu ul li {
	background-color: #fff;
}

#navigation-menu li.has-submenu ul li a {
	padding: 10px 15px;
}

#navigation-menu li.has-submenu ul li a:hover {
	text-indent: 2px;
	color: #84b040;
}

#navigation-menu li .sub-toggle {
	background: transparent;
	width: 20px;
	    margin-top: 12px;
}

#navigation-menu li .sub-toggle i:before {
	content: "\f107";
	font-family: "FontAwesome";
	position: absolute;
	color: #fff;
	font-style: normal;
}

#navigation-menu li a:hover,
#navigation-menu li a:focus {
	background-color: transparent;
	color: #fff;
}

#navigation-menu li .sub-toggle i {
	color: transparent;
	position: relative;
}

#navigation-menu li.has-submenu ul {
	position: absolute;
	min-width: 180px;
}

#navigation-menu li.has-submenu ul li {
	float: none;
	display: block;
}

#navigation-main li>a.search-popup-icon {
	position: relative;
}

#navigation-menu>li>a.search-popup-icon:before {
	content: "";
	width: 1px;
	height: 15px;
	background-color: #fff;
	position: absolute;
	right: 0;
	top: 25px;
	bottom: 0;
	margin: auto;
}

#navigation-menu>li>a.cart-popup {
	position: relative;
}

#navigation-menu>li>a.cart-popup .cart-label {
	position: absolute;
	top: 15px;
	font-size: 12px;
	color: #fff;
}

.apfm-container .apfm-close-button:hover:after,
.apfm-container .apfm-close-button:hover:before {
	background-color: #fff;
}

.apfm-container {
	background-color: rgb(103, 58, 183) !important ;
}
ul.slimmenu li a {
	    font-weight: 300;
}

/* =============================
3. Modal Popup
================================ */

.searchBoxTop {
	position: fixed;
	z-index: 9999;
	top: -170px;
	left: 0;
	width: 100%;
	background-color: #fff;
	border-bottom: 1px solid #e5e5e5;
	-webkit-box-shadow: 0 5px 18px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 5px 18px 0 rgba(0, 0, 0, 0.15);
	visibility: hidden;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-o-transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
}

.searchBoxTop.active {
	top: 0;
	visibility: visible;
	opacity: 1;
	filter: alpha(opacity=100)
}

.seachBoxContainer {
	padding: 56px 0 54px
}

.searchBoxTop input {
	border: 1px solid rgba(0, 1, 1, 0.1);
	padding: 14px 20px;
}

.searchBoxTop button[type="submit"] {
	border: 1px solid #84b040;
	font-size: 16px;
	line-height: 1.4;
	color: #fff;
	background-color: #84b040;
	padding: 10px 30px;
	display: inline-block;
	font-weight: 300;
}

.searchClose {
	cursor: pointer;
	position: fixed;
	top: 13%;
	right: 60px;
	z-index: 2;
	width: 54px;
	height: 54px;
	margin-top: -27px
}

.formSearch {
	width: calc(100% - 110px);
}

.searchClose:before,
.searchClose:after {
	content: '';
	position: absolute;
	top: 4px;
	left: 47%;
	margin-top: -30/2;
	margin-left: -3/2;
	display: block;
	height: 46px;
	width: 3px;
	background-color: #262e31;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transition: all 0.35s ease;
	-o-transition: all 0.35s ease;
	transition: all 0.35s ease
}

.searchClose:after {
	-webkit-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	transform: rotate(-135deg)
}

.searchClose:hover:before,
.searchClose:hover:after,
.searchClose:focus:before,
.searchClose:focus:after {
	background-color: #3bb18f
}

.cart-popup-wrapper {
	text-align: center;
	top: 40vh;
	left: 0;
	right: 0;
	position: absolute;
	max-width: 500px;
	width: 100%;
	height: 255px;
	margin: auto;
}

.cart-popup-wrapper .cart-popup-title {
	font-size: 30px;
	color: #fff;
	font-weight: 300;
	margin-bottom: 30px;
}

.cart-popup-wrapper .cart-popup-text {
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	margin-bottom: 10px;
}

.cart-popup-wrapper .cart-popup-icon {
	margin-bottom: 40px;
}

.cart-popup-wrapper .cart-popup-btn a {
	font-size: 14px;
	line-height: 1.4;
	color: #84b040;
	background-color: #fff;
	border: 0;
	padding: 10px 25px;
	border-radius: 20px;
}


/* =============================
4. Banner Area
================================ */

.mainSlider img {
	min-height: 800px;
	-o-object-fit: cover;
	object-fit: cover;
}

.mainSlider:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 6;
	background-image: url(../images/overlay-bg.svg);
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.2;
}

.nivo-caption {
	position: absolute;
	left: 0px;
	top: 50%;
	background: transparent;
	color: #fff;
	width: 100%;
	z-index: 8;
	padding: 5px 10px;
	opacity: 1;
	overflow: hidden;
	display: none;
	min-height: 100%;
	-moz-opacity: 0.8;
	filter: alpha(opacity=8);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transform: translateX(0px) translateY(-130px);
	-ms-transform: translateX(0px) translateY(-130px);
	transform: translateX(0px) translateY(-130px);
}

.nivo-directionNav .nivo-prevNav,
.nivo-directionNav .nivo-nextNav {
	font-size: 35px;
	background: transparent;
	width: 50px;
	height: 50px;
	line-height: 1.4;
	text-align: center;
	border-radius: 50%;
	margin: 0 30px;
    background-color: rgba(0, 0, 0, 0.13) ;
}

.nivo-directionNav {
	opacity: 0;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	padding: 0 30px;
}

.nivo-directionNav i {
	color: #fff;
	text-align: center;
}

.slider-inner:hover .nivo-directionNav {
	opacity: 1;
}

.slider-content {
	width: 70%;
	display: block;
}

.slider-content h1 {
	font-size: 60px;
	line-height: 1.4;
	font-weight: 300;
	color: #fff;
	margin-bottom: 20px;
}

.slider-content h4 {
	font-size: 24px;
	line-height: 1.4;
	font-weight: 300;
	color: #fff;
	margin-bottom: 50px;
}

.slider-content .slider-btn-wrapper {
	margin: 0;
}

.slider-content .slider-btn {
	border-radius: 50px;
	border: 1px solid #fff;
	font-size: 16px;
	line-height: 1.4;
	color: #fff;
	background-color: transparent;
	padding: 10px 30px;
	display: inline-block;
}

.slider-content .slider-btn2 {
	border-radius: 50px;
	border: 1px solid #fff;
	font-size: 16px;
	line-height: 1.4;
	color: #84b040;
	background-color: #fff;
	padding: 10px 30px;
	display: inline-block;
}

.slider-content .slider-btn:hover,
.slider-content .slider-btn2:hover {
	border: 1px solid #fff;
	background-color: #fff;
	color: #84b040;
}


/* Default Slider Animations */

.slider-content * {
	-webkit-animation-duration: 0.8s;
	animation-duration: 0.8s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.slider-animated-1 h1.hone {
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
}

.slider-animated-1 h4.htwo {
	-webkit-animation-delay: 0.7s;
	animation-delay: 0.7s;
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
}

.slider-animated-1 .slider-btn-wrapper a {
	-webkit-animation-delay: 1.1s;
	animation-delay: 1.1s;
	-webkit-animation-name: zoomIn;
	animation-name: zoomIn;
}


/* Slider Animations 2 */

.slider-animated-2 h1.hone {
	-webkit-animation-delay: 0.9s;
	animation-delay: 0.9s;
	-webkit-animation-name: fadeInRight;
	animation-name: fadeInRight;
}

.slider-animated-2 h4.htwo {
	-webkit-animation-delay: 1.2s;
	animation-delay: 1.2s;
	-webkit-animation-name: fadeInRight;
	animation-name: fadeInRight;
}

.slider-animated-2 .slider-btn-wrapper a {
	-webkit-animation-delay: 2.1s;
	animation-delay: 2.1s;
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
}


/* Slider Animations 3 */

.slider-animated-3 h1.hone {
	-webkit-animation-delay: 0.9s;
	animation-delay: 0.9s;
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
}

.slider-animated-3 h4.htwo {
	-webkit-animation-delay: 1.2s;
	animation-delay: 1.2s;
	-webkit-animation-name: fadeInRight;
	animation-name: fadeInRight;
}

.slider-animated-3 .slider-btn-wrapper a {
	-webkit-animation-delay: 1.1s;
	animation-delay: 1.1s;
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
}


/* =============================
5. Banner Carousel 2
================================ */

.banner-carousel2 .slide-item {
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.pcmtsolution {
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image: url(../images/pcmt-solution-bg.jpg);
	padding: 180px 0 130px 0;
}

.banner-carousel2 .slide-item:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    /* Change #1 */
    /*background: rgba(128, 102, 220, 0.8);*/
    background: rgba(132, 173, 72, 1.0)
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-carousel2 .content-box {
	position: relative;
	z-index: 110;
    max-width: 800px;
    margin: auto;
    padding: 0 20px;
}

.banner-carousel2 .content-box .title {
	position: relative;
	color: #fff;
	font-size: 18px;
	font-weight: 300;
	opacity: 0;
	padding: 5px 10px;
	margin-bottom: 5px;
	display: inline-block;
	-webkit-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);
	-webkit-transition: all 1000ms ease;
	-o-transition: all 1000ms ease;
	transition: all 1000ms ease;
}

.banner-carousel2 .active .title {
	opacity: 1;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	-webkit-transition-delay: 150ms;
	-o-transition-delay: 150ms;
	transition-delay: 150ms;
}

.banner-carousel2 .content-box.center-align {
	text-align: center;
}

.banner-carousel2 .content-box.right-box {
	float: right;
	width: 60%;
}

.banner-carousel2 .content-box .inner {
	position: relative;
	padding: 33% 0 25% 0;
}

.banner-carousel2 .content-box h2 {
	position: relative;
	display: block;
	font-size: 80px;
	line-height: 1.3;
	color: #ffffff;
	font-weight: 700;
	opacity: 0;
	margin-bottom: 30px;
	-webkit-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);
	-webkit-transition: all 1000ms ease;
	-o-transition: all 1000ms ease;
	transition: all 1000ms ease;
}

.banner-carousel2 .content-box h2.style-two {
	font-size: 50px;
}
 

.banner-carousel2 .content-box.center-align h2::before {
	left: 50%;
	margin-left: -35px;
}

.banner-carousel2 .content-box h2.style-three {
	padding-bottom: 0px;
}

.banner-carousel2 .content-box h2.style-three:before {
	display: none;
}

.banner-carousel2 .content-box.center-align .link-box {
	text-align: center;
}

.banner-carousel2 .content-box.center-align .link-box .theme-btn {
	background-color: #fff;
	float: none;
	margin-right: 0px;
	color: #425058;
	border-radius: 50px;
	border: 1px solid #fff;
	padding: 10px 30px;
	font-weight: 500;
	font-size: 18px;
}

.banner-carousel2 .content-box.center-align .link-box .theme-btn:hover {
	background-color: transparent;
	color: #fff;
	border-color: #fff;
}

.banner-carousel2 .active .content-box h2 {
	opacity: 1;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	-webkit-transition-delay: 300ms;
	-o-transition-delay: 300ms;
	transition-delay: 300ms;
}

.banner-carousel2 .content-box .text {
	position: relative;
	display: block;
	font-size: 24px;
	line-height: 1.4;
	color: #ffffff;
	opacity: 0;
	margin-bottom: 54px;
	-webkit-transition: all 1000ms ease;
	-o-transition: all 1000ms ease;
	transition: all 1000ms ease;
	-webkit-transform: translateY(-100px);
	-ms-transform: translateY(-100px);
	transform: translateY(-100px);
}

.banner-carousel2 .active .text {
	opacity: 1;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	-webkit-transition-delay: 300ms;
	-o-transition-delay: 300ms;
	transition-delay: 300ms;
}

.banner-carousel2 .link-box {
	position: relative;
	opacity: 0;
	-webkit-transition: all 1000ms ease;
	-o-transition: all 1000ms ease;
	transition: all 1000ms ease;
	-webkit-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);
}

.banner-carousel2 .link-box:after {
	display: table;
	clear: both;
	content: "";
}

.banner-carousel2 .active .link-box {
	opacity: 1;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	-webkit-transition-delay: 1200ms;
	-o-transition-delay: 1200ms;
	transition-delay: 1200ms;
}

.banner-carousel2 .link-box .theme-btn {
	position: relative;
	float: left;
	margin-right: 35px;
	padding: 10px 35px;
	background: #fff;
}

.banner-carousel2 .owl-dots {
	display: none;
}

.banner-carousel2 .owl-dots {
	position: absolute;
	left: 0;
	bottom: 50px;
	width: 100%;
	text-align: center;
	display: none;
}

.banner-carousel2 .owl-nav {
	position: absolute;
	width: 100%;
	top: 50%;
	margin-top: -25px;
	z-index: 99;
	opacity: 0;
	-webkit-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.banner-carousel2:hover .owl-nav {
	opacity: 1;
}

.banner-carousel2 .owl-nav .owl-prev,
.banner-carousel2 .owl-nav .owl-next {
	position: absolute;
	top: 0;
	left: 30px;
	height: 50px;
	width: 50px;
	font-size: 20px !important;
	color: #fdfdfd  !important;
	font-weight: 300;
	text-align: center;
	line-height: 1.4;
	background-color:rgba(0, 0, 0, 0.13) !important;
	-webkit-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.banner-carousel2 .owl-nav .owl-next {
	left: auto;
	right: 30px;
}

.banner-carousel2 .owl-nav .owl-prev:hover,
.banner-carousel2 .owl-nav .owl-next:hover {
	background-color: #fff;
	color: #84b040;
}

.banner-section.style-two .content-box .inner {
	padding: 310px 0px 210px;
}

.banner-section.style-three {
	top: -35px;
	width: 100%;
}


/* =============================
5. Post Title Area
================================ */

.post-title-area {
	background-repeat: no-repeat;
	background-size: cover;
}

.post-title-content {
	text-align: center;
	padding: 175px 0px 125px 0;
}

.post-title-content h1 {
	color: #fff;
	font-weight: 300;
	margin-bottom: 10px;
}

.post-title-breadcrumb .breadcrumb {
	background-color: transparent;
	margin: 0;
	padding: 0;
	display: inline-block;
	text-align: center;
}

.post-title-breadcrumb .breadcrumb li a {
	text-transform: capitalize;
	color: #fff;
}

.post-title-breadcrumb .breadcrumb li {
	display: inline-block;
}

.post-title-breadcrumb .breadcrumb-item+.breadcrumb-item:before {
	content: "\f111";
	font-family: "FontAwesome";
	color: #fff;
	font-size: 8px;
	margin: 0px 10px 0px 6px;
	position: relative;
	bottom: 3px;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

#post-title-shape {
	width: 500px;
	height: 500px;
	background-image: url(../images/post-title-shap.png);
	left: -160px;
	top: -170px;
	position: absolute;
	background-repeat: no-repeat;
	background-size: contain;
}


/* =============================
6. Domain Search Area
================================ */

.domain-search-area {
	position: relative;
	margin-bottom:35px;
}

.domain-search-form {
	-webkit-box-shadow:0px 0px 49px 8px rgba(30, 41, 137, 0.08);
	box-shadow:0px 0px 49px 8px rgba(30, 41, 137, 0.08);
	max-width: 1112px;
	width: 90%;
	position: absolute;
	top: -33px;
	border-radius: 50px;
	background: #fff;
	z-index: 33;
	margin: auto;
	left: 0;
	right: 0;
}

.domain-search-form:focus,
.domain-search-form:hover {
	-webkit-box-shadow:  0px 0px 9px 3px rgba(30, 41, 137, 0.08);
	box-shadow: 0px 0px 9px 3px rgba(30, 41, 137, 0.08);
}
.domain-search-form select {
    position: relative;
    border: 0;
    padding-right: 10px;
    margin-right: 15px;
	color: #8d8f9c;
	font-weight: 300;
}

.domain-search-form input[type="text"] {
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	background-color: #fff;
	padding: 22px 40px;
	border: 0;
	font-weight: 300;
}

.domain-search-form button {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #ffffff;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    color: #84b040;
    font-weight: 500;
    font-size: 24px;
    padding: 5px 45px 5px 25px;
}
.domain-search-form button:before {
    content: "";
    width: 1px;
    height: 30px;
    background: #e4e4e4;
    position: absolute;
    top: 21px;
    left: 0;
    bottom: 0;
}
.domain-search-form button:hover,
.domain-search-form button:focus {
	background-color: transparent;
	color: #8d8992;
}

.domain-search-form .form-group {
	margin: 0;
}


/* =============================
7. Feature Area
================================ */

.feature-box-wrapper {
	position: relative;
	display: table;
	width: 100%;
}

.feature-box-wrapper .feature-box-left {
	width: 315px;
	float: left;
}

.feature-box-wrapper .feature-box-right {
	width: 315px;
	float: right;
}

.feature-box-shap img {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	max-width: 480px;
}

.feature-box {
	display: table;
	widows: 100%;
	margin-bottom: 30px;
}

.feature-box-wrapper .feature-box {
	margin-bottom: 130px;
	display: table;
	width: 100%;
}

.feature-box-wrapper .feature-box:last-child {
	margin-bottom: 0;
}

.feature_icon1 {
	width: 29px;
	height: 31px;
	background: url('../images/css_sprites4.png') -10px -10px;
}

.feature_icon2 {
	width: 27px;
	height: 27px;
	background: url('../images/css_sprites4.png') -59px -10px;
}

.feature_icon3 {
	width: 27px;
	height: 27px;
	background: url('../images/css_sprites4.png') -106px -10px;
}

.feature_icon4 {
	width: 24px;
	height: 28px;
	background: url('../images/css_sprites4.png') -10px -61px;
}

.feature_icon5 {
	width: 30px;
	height: 28px;
	background: url(../images/css_sprites4.png) 39px -61px;
}

.feature_icon6 {
	width: 30px;
	height: 28px;
	background: url(../images/css_sprites4.png) -57px -61px;
}

.feature-box .feature_icon1,
.feature-box .feature_icon2,
.feature-box .feature_icon3,
.feature-box .feature_icon4,
.feature-box .feature_icon5,
.feature-box .feature_icon6 {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
}

.feature-box .feature-logo {
	border-radius: 50px;
	width: 65px;
	height: 65px;
	float: left;
	border: 2px solid #81a53a;
	overflow: hidden;
	position: relative;
	background-color: #84af40;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	margin-top: 5px
}

.feature-box:hover .feature-logo {
	border: 5px solid #e6e7efa6;
}

.feature-box .feature-content {
	width: calc(100% - 65px);
	float: left;
	padding-left: 15px;
}

.feature-box .feature-content h4 {
    font-size: 18px;
    line-height: 1.4;
	margin-bottom: 10px;
}

.feature-box .feature-content p {
	margin: 0;
	font-size: 16px;
    font-weight: 500;
}

.feature-box-right .feature-logo {
	float: right;
}

.feature-box-right .feature-content {
	float: right;
	padding-left: 0;
	padding-right: 15px;
	text-align: right;
}

.feature-box2 {
	margin-bottom:30px;
	border: 1px solid #f5f5f5;
	-webkit-box-shadow: 0px 0px 21px 5px rgba(24, 38, 127, 0);
	box-shadow: 0px 0px 21px 5px rgba(24, 38, 127, 0);
	padding: 40px 30px;
	text-align: center;
	-webkit-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

.feature-box2.active,
.feature-box2:hover {
	-webkit-box-shadow: 0px 0px 21px 5px rgba(24, 38, 127, 0.08);
	box-shadow: 0px 0px 21px 5px rgba(24, 38, 127, 0.08);
}

.feature-box2 .feature-logo {
	width: 75px;
	height: 75px;
	border: 2px solid #6B53C1;
	;
	border-radius: 50px;
	background-color: #fff;
	margin: auto;
	position: relative;
	margin-bottom: 23px;
	-webkit-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

.feature-box2 .feature-logo1,
.feature-box2 .feature-logo4,
.feature-box2 .feature-logo5,
.feature-box2 .feature-logo6,
.feature-box2 .feature-logo2,
.feature-box2 .feature-logo8,
.feature-box2 .feature-logo7,
.feature-box2 .feature-logo9,
.feature-box2 .feature-logo3 {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.feature-box2:hover .feature-logo {
	background-color: #84b040;
}

.feature-box2 .feature-logo1 {
	width: 31px;
	height: 31px;
	background: url('../images/css_sprites2.png') -10px -10px;
}

.feature-box2:hover .feature-logo1 {
	width: 31px;
	height: 31px;
	background: url('../images/css_sprites2.png') -61px -10px;
}

.feature-box2 .feature-logo2 {
	width: 29px;
	height: 29px;
	background: url('../images/css_sprites2.png') -10px -61px;
}

.feature-box2:hover .feature-logo2 {
	width: 29px;
	height: 29px;
	background: url('../images/css_sprites2.png') -59px -61px;
}

.feature-box2 .feature-logo3 {
	width: 31px;
	height: 27px;
	background: url('../images/css_sprites2.png') -112px -10px;
}

.feature-box2:hover .feature-logo3 {
	width: 31px;
	height: 27px;
	background: url('../images/css_sprites2.png') -112px -57px;
}

.feature-box2 .feature-logo4 {
	width: 29px;
	height: 37px;
	background: url('../images/css_sprites3.png') -10px -10px;
}

.feature-box2:hover .feature-logo4 {
	width: 29px;
	height: 37px;
	background: url('../images/css_sprites3.png') -59px -10px;
}

.feature-box2 .feature-logo5 {
	width: 28px;
	height: 28px;
	background: url('../images/css_sprites3.png') -62px -67px;
}

.feature-box2:hover .feature-logo5 {
	width: 28px;
	height: 28px;
	background: url('../images/css_sprites3.png') -110px -67px;
}

.feature-box2 .feature-logo6 {
	width: 32px;
	height: 28px;
	background: url('../images/css_sprites3.png') -108px -10px;
}

.feature-box2:hover .feature-logo6 {
	width: 32px;
	height: 28px;
	background: url('../images/css_sprites3.png') -10px -67px;
}

.feature-box2 .feature-logo7 {
	width: 29px;
	height: 29px;
	background: url('../images/css_sprites5.png') -108px -10px;
}

.feature-box2:hover .feature-logo7 {
	width: 29px;
	height: 29px;
	background: url('../images/css_sprites5.png') -10px -61px;
}

.feature-box2 .feature-logo8 {
	width: 29px;
	height: 20px;
	background: url('../images/css_sprites5.png') -59px -61px;
}

.feature-box2:hover .feature-logo8 {
	width: 29px;
	height: 20px;
	background: url('../images/css_sprites5.png') -108px -61px;
}

.feature-box2 .feature-logo9 {
	width: 29px;
	height: 31px;
	background: url('../images/css_sprites5.png') -10px -10px;
}

.feature-box2:hover .feature-logo9 {
	width: 29px;
	height: 31px;
	background: url('../images/css_sprites5.png') -59px -10px;
}

.feature-box2 .feature-content h4 {
    font-size: 20px;
    line-height: 1.4;
	margin-bottom: 18px;
}

.feature-box2 .feature-content p {
	margin: 0;
}

.feature-list-wrapper {
	max-width: 350px;
}

.feature-list {
	display: table;
	width: 100%;
	margin-bottom: 30px;
}

.feature-list .feature-list-icon {
	float: left;
	width: 32px;
}

.feature-list .feature-list-content {
	float: left;
	width: calc(100% - 32px);
	padding-left: 18px;
}

.feature-list .feature-list-content h4 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
    color: #425058;
    font-weight: 300;
}

.feature-list .feature-list-content p {
	margin: 0;
}

.feature-list:last-child {
	margin: 0;
}


/* =============================
8. Service area
================================ */

.service-box {
	position: relative;
	background-color: #ffffff;
	padding: 25px 20px 25px 30px;
	-webkit-box-shadow: 0px 0px 36px -17px rgb(148, 148, 148);
	box-shadow: 0px 0px 36px -17px rgb(148, 148, 148);
	margin-bottom: 30px;
	overflow: hidden;
}

.service-box:before {
	content: "";
	height: 65px;
	width: 10px;
	background-color: #fff;
	position: absolute;
	left: 0;
	top: -100px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.service-box:hover {
	background-color: #84b040;
}

.service-box:hover:before {
	top: 40px;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.service-box .service-title {
	display: block;
	width: 100%;
	margin-bottom: 25px;
}

.service-box .service-logo {
	float: left;
	width: 44px;
	height: 44px;
	margin: 30px 20px 30px 0;
}

.service-box .service-logo1 {
	background: url('../images/css_sprites.png') -10px -10px;
}

.service-box:hover .service-logo1 {
	background: url('../images/css_sprites.png') -74px -10px;
}

.service-box .service-logo2 {
	background: url('../images/css_sprites.png') -200px -10px;
}

.service-box:hover .service-logo2 {
	background: url('../images/css_sprites.png') -10px -137px;
}

.service-box .service-logo3 {
	background: url('../images/css_sprites.png') -68px -137px;
}

.service-box:hover .service-logo3 {
	background: url('../images/css_sprites.png') -133px -137px;
}

.service-box .service-logo4 {
	background: url('../images/css_sprites.png') -138px -10px;
}

.service-box:hover .service-logo4 {
	background: url('../images/css_sprites.png') -138px -72px;
}

.service-box .service-logo5 {
	background: url('../images/css_sprites.png') -200px -74px;
}

.service-box:hover .service-logo5 {
	background: url('../images/css_sprites.png') -258px -10px;
}

.service-box .service-logo6 {
	background: url('../images/css_sprites.png') -10px -74px;
}

.service-box:hover .service-logo6 {
	background: url('../images/css_sprites.png') -73px -74px;
}

.service-box .service-heading {
	float: left;
	padding-left: 15px;
	width: calc(100% - 44px);
}

.service-box .service-heading h4 {
	font-size: 20px;
	font-weight: 300;
	margin-bottom: 0;
}

.service-box:hover .service-heading h4 {
	color: #fff;
}

.service-box .service-heading p {
	font-size: 14px;
	color: #777777;
	margin: 0;
}

.service-box:hover .service-heading p {
	color: #fff;
}

.service-box .service-content p {
	margin: 0;
}

.service-box:hover .service-content p {
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	color: #fff;
}


/* =============================
9. Faq Area
================================ */

.round-shap {
	position: relative;
}

.round-shap:before {
	content: "";
	position: absolute;
	left: 0;
	top: 30%;
	background-image: url(../images/round-shap.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 445px;
	height: 300px;
	    opacity: 0.5;
}
.round-shap:after {
    content: "";
    position: absolute;
    right: 0;
    background-image: url(../images/round-shap2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
    height: 500px;
	    opacity: 0.5;
}

.faq-listed .faq-boxed {
	border: 0;
}
.faq-listed .faq-boxed:last-child button {
	margin-bottom:0;
}

.faq-listed .faq-heading {
	padding: 0;
	background: transparent;
	border: 0;
}

.faq-listed .faq-heading button {
    position: relative;
    width: 100%;
    box-shadow: 0px 0px 36px -17px rgb(148, 148, 148);
    padding: 15px 45px 15px;
    color: #425058;
    border-radius: 0;
    background-color: transparent;
    text-align: left;
    padding-left: 20px;
    font-weight: 300;
    margin-bottom: 15px;
    white-space: normal;
    font-size: 18px;
}
.faq-listed .faq-boxed:last-child .faq-body  {
	padding-top:15px;
	padding-bottom:0
	
}
.faq-listed .faq-heading button:before {
    content: "";
    background-image: url(../images/right-arrow-angle.png);
    width: 15px;
    height: 20px;
    background-size: contain;
    position: absolute;
    right: 15px;
    background-repeat: no-repeat;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	margin: 3px 0 0 0;
	
}
.faq-listed .faq-heading [aria-expanded="true"]:before {
   transform: rotate(90deg);
	
}

.faq-listed .faq-heading button:hover,
.faq-listed .faq-heading button:focus {
	color: #84b040;
	box-shadow: 0px 0px 36px -17px rgb(148, 148, 148)!important;
}

.faq-listed .faq-body {
	padding: 15px;
	font-size: 17px;
	line-height: 30px;
	color: #425058;
	padding-top:0;
}

.faq-box {
	margin-bottom: 30px;
	display: table;
	width: 100%;
}

.faq-box .faq-icon {
	float: left;
	border-radius: 50px;
	width: 40px;
	height: 40px;
	float: left;
	border: 1px solid #6B53C1;
	;
	overflow: hidden;
	position: relative;
	background-color: transparent;
}

.faq-box .faq-icon p {
	position: absolute;
	margin: 4px 8px;
	font-size: 16px;
	line-height: 28px;
	color: #8d8992;
	font-weight: 300;
}

.faq-box .faq-content {
	float: left;
	width: calc(100% - 65px);
	padding-left: 20px;
}

.faq-box .faq-content h4 {
	font-size: 20px;
	line-height: 30px;
	font-weight: 300;
	margin-bottom: 15px;
}

.faq-box .faq-content p {
	margin-bottom: 0;
	font-size: 16px;
	line-height: 30px;
}

.signature-text {}

.signature-text .signature-list {
	margin: 0;
	margin-top: 30px;
}

.signature-text .signature-img {
	max-width: 170px;
	border-right: 1px solid rgba(25, 36, 129, 0.13);
	margin-right: 30px;
	padding-right: 30px;
}

.signature-text .signature-name p {
	position: relative;
	top: 15px;
	font-size: 24px;
	color: #8d8992;
	margin: 0;
}

.signature-text .signature-name p span {
	display: block;
	color: #8d8992;
	font-size: 16px;
}


/* =============================
10. Solution Area
================================ */

.solution-step {
	position: relative;
	display: table;
	width: 100%;
	max-width: 360px;
	margin-left: 6px;
}

.solution-step:before {
	content: "";
	position: absolute;
	background-image: url(../images/solution-line.png);
	background-repeat: no-repeat;
	background-size: contain;
	top: 0;
	width: 100%;
	height: 80px;
	bottom: 0;
	-webkit-transform: translate(50px, -20px);
	-ms-transform: translate(50px, -20px);
	transform: translate(50px, -20px);
}

.solution-step .solution-step-item:last-child {
	margin: 0;
}

.solution-step .solution-step-item {
	border-radius: 50px;
	width: 60px;
	height: 60px;
	float: left;
	border: 2px solid rgba(8, 17, 94, 0.1);
	overflow: hidden;
	position: relative;
	margin-right: 90px;
}

.solution-step .solution-step-round {
	width: 55px;
	height: 55px;
	background-color: #84b040;
	color: #fff;
	font-size: 20px;
	padding: 11px 16px;
	font-weight: 300;
}

.solution-list {
	margin: 0;
}

.solution-list .solution-list-item {
	position: relative;
	padding-left: 25px;
	margin-bottom: 10px;
}

.solution-list .solution-list-item:last-child {
	margin-bottom: 0;
}

.solution-list .solution-list-item:before {
	content: "\f00c";
	position: absolute;
	left: 0;
	top: 0;
	width: 20px;
	height: 20px;
	font-family: 'FontAwesome';
	color: #84b040;
}

.solution-heading {
	font-size: 30px;
	line-height: 50px;
	color: #8d8992;
	font-weight: 300;
	margin-bottom: 80px;
}

.solution-tab-nav {
	border: 0;
	margin-bottom: 30px;
}

.solution-tab-nav li {
	margin-right: 75px;
}

.solution-tab-nav li:last-child {
	margin-right: 0;
}

.solution-tab-nav li a {
	padding: 4px 15px;
	font-size: 14px;
	line-height: 26px;
	color: #8d8992;
	font-weight: 300;
	border: 0;
	border-radius: 0 !important;
	-webkit-box-shadow: 0px 0px 6px 0px rgba(1, 1, 2, 0.2);
	box-shadow: 0px 0px 6px 0px rgba(1, 1, 2, 0.2);
}

.solution-tab-nav li a.active,
.solution-tab-nav li a:hover {
	-webkit-box-shadow: 0px 0px 6px 0px rgba(25, 36, 129, 0.46);
	box-shadow: 0px 0px 6px 0px rgba(25, 36, 129, 0.46);
	color: #84b040 !important;
}


/* =============================
11. Call To Action Area
================================ */

.call-to-action-area {
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.call-to-action-area:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 11;
    background-image: url(../images/cta-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.96;
    background-position: bottom right;
    background-attachment: fixed;
}

.call-to-wrapper {
	position: relative;
	z-index: 14;
}

.call-to-wrapper h2 {
	font-size: 42px;
	line-height: 1.4;
	color: #fff;
	margin-bottom: 20px;
}

.call-to-wrapper p {
	max-width: 80%;
	margin: auto;
	font-size: 20px;
	line-height: 30px;
	color: #fff;
	margin-bottom: 30px;
}

.call-to-wrapper .call-to-btn-wrapper {
	position: relative;
	width: 340px;
	margin: auto;
}

.call-to-wrapper .call-to-btn-wrapper:before {
	content: "";
	background-repeat: no-repeat;
	background-size: contain;
	width: 57px;
	height: 57px;
	position: absolute;
	left: 0;
	top: 0;
	-webkit-transform: translate(-65px, -20px);
	-ms-transform: translate(-65px, -20px);
	transform: translate(-65px, -20px);
}

.call-to-wrapper .call-to-btn-wrapper a.call-to-btn {
	border-radius: 50px;
	border: 1px solid #fff;
	font-size: 16px;
	line-height: 28px;
	color: #fff;
	background-color: transparent;
	padding: 10px 30px;
	display: inline-block;
}

.call-to-wrapper .call-to-btn-wrapper a.call-to-btn:hover {
	border: 1px solid #fff;
	color: #84b040;
	background-color: #fff;
}

.call-to-wrapper .call-to-btn-wrapper a.call-to-btn2 {
	border-radius: 50px;
	border: 1px solid #fff;
	font-size: 18px;
	line-height: 28px;
	color: #425058;
	background-color: #fff;
	padding: 10px 30px;
	display: inline-block;
}

.call-to-wrapper .call-to-btn-wrapper a.call-to-btn2:hover {
	color: #fff;
	background-color: transparent;
}

.transfer-domain-form {
	display: block;
	max-width: 545px;
	margin: auto;
}

.transfer-domain-form input[type="text"] {
	background-color: transparent;
	border: 1px solid #fff;
	color:#fff;
	border-right: 0;
	padding: 10px 20px;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
}

.transfer-domain-form ::-webkit-input-placeholder {
	color: #fff;
}

.transfer-domain-form :-moz-placeholder {
	color: #fff;
}

.transfer-domain-form button[type="submit"] {
	background-color: #fff;
	font-size: 16px;
	line-height: 30px;
	color: #84b040;
	padding: 10px 25px;
	border: 0;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
}

.transfer-domain-form button[type="submit"]:hover {
	opacity: 0.95;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}


/* =============================
12. Pricing Plan Area
================================ */
.pricing-name1{
	background-color:#3AD984;
}
.pricing-name2{
	background-color:#FFA939;
}
.pricing-name3{
	background-color:#F23D78;
}
.pricing-plan-controls {
	margin-bottom: 50px;
}

.pricing-plan-controls.nav-tabs {
	border: 0;
}

.pricing-plan-controls li {
	margin-right: 20px;
}

.pricing-plan-controls .controls-btn {
	border-radius: 50px;
	border: 1px solid #84b040;
	font-size: 16px;
	line-height: 28px;
	color: #84b040;
	background-color: transparent;
	padding: 10px 30px;
	display: inline-block;
	font-weight: 300;
}

.pricing-plan-controls .controls-btn.active,
.pricing-plan-controls .controls-btn:hover {
	border-radius: 50px;
	border: 1px solid #84b040;
	font-size: 16px;
	line-height: 28px;
	color: #fff;
	background-color: #84b040;
	padding: 10px 30px;
	display: inline-block;
}

.pricing-plan-box {
	position:relative;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 36px -17px rgb(148, 148, 148);
	box-shadow: 0px 0px 36px -17px rgb(148, 148, 148);
	padding: 60px 10px;
	text-align: center;
	margin-bottom: 30px;
}

.pricing-plan-box:hover {
	-webkit-box-shadow: 0px 0px 50px 0px rgba(25, 36, 129, 0.1);
	box-shadow: 0px 0px 50px 0px rgba(25, 36, 129, 0.1);
}

.pricing-plan-box h2 {
    font-size: 20px;
    line-height: 1.4;

}

.pricing-plan-box h4 {
	margin-bottom: 20px;
}

.pricing-plan-box .pricing-big {
	font-size: 50px;
	line-height: 60px;
	color: #84b040;
	font-weight: 300;
}

.pricing-plan-box .pricing-small {
	font-size: 14px;
	line-height: 60px;
	color: #88888a;
	font-weight: 300;
}

.pricing-plan-box .pricing-body {
	margin-bottom: 35px;
}

.pricing-plan-box .pricing-body li {
	font-size: 16px;
	line-height: 50px;
	color: #8d8992;
	display: block;
}

.pricing-plan-box .pricing-btn {
	border: 1px solid;
	border-radius: 50px;
	font-size: 16px;
	line-height: 28px;
	color: #fff;
	background-color: #84b040;
	padding: 10px 30px;
	display: inline-block;
}

.pricing-plan-box .pricing-btn:hover {
	border: 1px solid #84b040;
	color: #84b040;
	background-color: #fff;
}

.pricing-plan-box2 {
	position:relative;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 36px -17px rgb(148, 148, 148);
	box-shadow: 0px 0px 36px -17px rgb(148, 148, 148);
	text-align: center;
	margin-bottom: 30px;
	padding-bottom:60px;
}

.pricing-plan-box2:hover {
	-webkit-box-shadow: 0px 0px 50px 0px rgba(25, 36, 129, 0.1);
	box-shadow: 0px 0px 50px 0px rgba(25, 36, 129, 0.1);
}

.pricing-plan-box2 .pricing-header {
	padding: 30px 10px 10px 10px;
	background-color: #84b040;
}

.pricing-plan-box2 h2 {
	font-size: 30px;
	line-height: 50px;
	color: #fff;
	margin-bottom: 0;
	font-weight: 300;
}

.pricing-plan-box2 h3 {
	font-size: 16px;
	line-height: 1.4;
	color: #fff;
	margin-bottom: 10px;
	font-weight: 300;
}

.pricing-plan-box2 h4 {
	margin-bottom: 0;
}

.pricing-plan-box2 .pricing-big {
	font-size: 50px;
	line-height: 60px;
	color: #fff;
	font-weight: 300;
}

.pricing-plan-box2 .pricing-small {
	font-size: 20px;
	line-height: 60px;
	color: #fff;
	font-weight: 400;
}

.pricing-plan-box2 .pricing-body {
	padding-top: 57px;
	padding-bottom: 15px;
	position: relative;
}

.pricing-plan-box2 .pricing-body:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	top: 0px;
	background-image: url(../images/pricing-shap2.png);
	width: 100%;
	background-repeat: no-repeat;
	background-size: contain;
}

.pricing-plan-box2 .pricing-body li {
	font-size: 16px;
	line-height: 50px;
	color: #8d8992;
	display: block;
}

.pricing-plan-box2 .pricing-btn {
	border: 1px solid;
	border-radius: 50px;
	font-size: 16px;
	line-height: 28px;
	color: #fff;
	background-color: #84b040;
	padding: 10px 30px;
	display: inline-block;
}

.pricing-plan-box2 .pricing-btn:hover {
	border: 1px solid #84b040;
	color: #84b040;
	background-color: #fff;
}

.pricing-plan-box3 {
	position:relative;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 36px -17px rgb(148, 148, 148);
	box-shadow: 0px 0px 36px -17px rgb(148, 148, 148);
	text-align: center;
	margin-bottom: 30px;
	padding-bottom:60px;
}

.pricing-plan-box3:hover {
	-webkit-box-shadow: 0px 0px 50px 0px rgba(25, 36, 129, 0.1);
	box-shadow: 0px 0px 50px 0px rgba(25, 36, 129, 0.1);
}

.pricing-plan-box3 .pricing-header {
	padding: 30px 10px 10px 10px;
	background-color: #84b040;
}

.pricing-plan-box3 h2 {
	font-size: 30px;
	line-height: 50px;
	color: #fff;
	margin-bottom: 0;
	font-weight: 300;
}

.pricing-plan-box3 h3 {
	font-size: 16px;
	line-height: 1.4;
	color: #fff;
	margin-bottom: 10px;
	font-weight: 300;
}

.pricing-plan-box3 h4 {
	margin-bottom: 0;
}

.pricing-plan-box3 .pricing-big {
	font-size: 50px;
	line-height: 60px;
	color: #fff;
	font-weight: 300;
}

.pricing-plan-box3 .pricing-small {
	font-size: 20px;
	line-height: 60px;
	color: #fff;
}

.pricing-plan-box3 .pricing-body {
	padding-top: 35px;
	padding-bottom: 15px;
	position: relative;
}

.pricing-plan-box3 .pricing-body:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	top: -25px;
	background-image: url(../images/pricing-shap.png);
	height: 35px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

.pricing-plan-box3 .pricing-body li {
	font-size: 16px;
	line-height: 50px;
	color: #8d8992;
	display: block;
}

.pricing-plan-box3 .pricing-btn {
	border: 1px solid;
	border-radius: 50px;
	font-size: 16px;
	line-height: 28px;
	color: #fff;
	background-color: #84b040;
	padding: 10px 30px;
	display: inline-block;
}

.pricing-plan-box3 .pricing-btn:hover {
	border: 1px solid #84b040;
	color: #84b040;
	background-color: #fff;
}

.pricing-plan-box4:hover {
	-webkit-box-shadow: 0px 0px 50px 0px rgba(25, 36, 129, 0.1);
	box-shadow: 0px 0px 50px 0px rgba(25, 36, 129, 0.1);
}








.pricing-plan-box4{
	position:relative;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 36px -17px rgb(148, 148, 148);
	box-shadow: 0px 0px 36px -17px rgb(148, 148, 148);
	padding: 60px 10px;
	text-align: center;
	margin-bottom: 30px;
	overflow:hidden;
}
.pricing-plan-box4 .pricing-badge {
    position: absolute;
    top: 26px;
    right: -57px;
    background: #84b040;
    color: #ffffff;
    width: 200px;
    transform: rotate(44deg);

}
.pricing-plan-box4 h2 {
	color:#84b040;
    font-size: 40px;
    line-height: 1.4;
    margin-bottom: 0;
    font-weight: 300;
    margin: 15px 0;
}

.pricing-plan-box4 h3 {
	font-size: 16px;
	line-height: 1.4;
	margin-bottom: 10px;
	font-weight: 300;
}

.pricing-plan-box4 .pricing-body li {
	font-size: 16px;
	line-height: 50px;
	color: #8d8992;
	display: block;
}
.pricing-plan-box4 .pricing-header .pricing-name {
	    border: 1px solid;
    border: 1px solid;
    border-radius: 50px;
    font-size: 14px;
    line-height: 1.4;
    color: #fff;
    padding: 8px 30px;
    display: inline-block;
    margin-bottom: 15px;
}
.pricing-plan-box4 .pricing-body {
	margin-bottom:30px;
}
.pricing-plan-box4 .pricing-body li {
	font-size: 16px;
	line-height: 35px;
	color: #8d8992;
	display: block;
}

.pricing-plan-box4 .pricing-btn {
	border: 1px solid;
	border-radius: 50px;
	font-size: 16px;
	line-height: 28px;
	color: #fff;
	background-color: #84b040;
	padding: 10px 30px;
	display: inline-block;
}

.pricing-plan-box4 .pricing-btn:hover {
	border: 1px solid #84b040;
	color: #84b040;
	background-color: #fff;
}










.pricing-plan-table thead {
	background-color: #84b040;
}

.pricing-plan-table thead th {
	border: 0;
	font-size: 16px;
	line-height: 40px;
	color: #fff;
	font-weight: 500;
	text-align: center;
}

.pricing-plan-table tbody tr {
	background-color: #fff;
}

.pricing-plan-table tbody tr:nth-child(even) {
	background-color: #f5f5f5;
}

.pricing-plan-table tbody tr td:first-child {
	font-weight:500;
}
.pricing-plan-table tbody td {
	text-align: center;
	border: 0;
	font-size: 16px;
	line-height: 40px;
	color: #8d8992;
	padding: 10px 10px;
}
.pricing-plan-table tbody td .pricing-btn {
    border: 1px solid #84b040;
    border-radius: 50px;
    font-size: 15px;
    line-height: 1.4;
    color: #84b040;
    padding: 8px 30px;
    display: inline-block;
}





















/* =============================
13. Cart Area
================================ */


/* =============================
13. Testimonial Area
================================ */

.testimonial-item {
	text-align: center;
	outline: none!important;
}

.testimonial-item .testimonial-img {
	position: relative;
	width: 268px;
	height: 140px;
	margin: auto;
	margin-bottom: 40px;
}

.testimonial-item .testimonial-img li img {
	width: 100%;
}

.testimonial-item .testimonial-img li:first-child {
	margin-right: 60px !important;
	margin-top: 20px!important;
}

.testimonial-item .testimonial-img li {
	width: 100px;
	height: 100px;
	border-radius: 100px;
	overflow: hidden;
	position: relative;
	margin: 0 !important;
	padding: 0;
	z-index: 1;
}

.testimonial-item .testimonial-img li:before {
	content: "";
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(103, 58, 183, 0.94);
	z-index: 2;
	position: absolute;
}

.testimonial-item .testimonial-img li.active {
	width: 140px;
	height: 140px;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto !important;
	z-index: 10 !important;
	bottom: 0px;
}

.testimonial-item .testimonial-img li.active:before {
	background: none;
}

.testimonial-item .testimonial-content {
	margin: auto;
}

.testimonial-item .testimonial-content .testimonial-name h4 {
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 5px;
}

.testimonial-item .testimonial-content .testimonial-name h6 {
	font-size: 14px;
	line-height: 26px;
	color: #777777;
	margin-bottom: 15px;
}

.testimonial-item .testimonial-content p {

	font-size: 16px;
	color: #8d8992;
	margin-bottom: 30px;
}

.testimonial-slider .slick-dots {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 16px;
    margin-top: 20px;
}

.testimonial-slider .slick-dots li {
	display: inline-block;
	margin-right: 5px;
}

.testimonial-slider .slick-dots li.slick-active button {
	border: 1px solid #fff;
	background-color:#84b040;
}

.testimonial-slider .slick-dots li button {
	width: 16px;
	height: 17px;
	background: #fff;
	border-radius: 100px;
	display: block;
	border: 1px solid #fff;
	color: transparent;
	cursor:pointer;
}

.testimonial-box {
	background-color: #fff;
	padding: 30px;
	margin-bottom: 30px;
	text-align: center;
	box-shadow:0px 0px 36px -17px rgb(148, 148, 148);
}

.testimonial-box .testimonial-img {
    width: 65px;
    height: 65px;
    margin: auto;
	margin-bottom:15px;
}

.testimonial-box .testimonial-img  {
	border: 1px solid transparent;
	border-radius: 50px;
}

.testimonial-box .testimonial-img img {
	border: 1px solid transparent;
	border-radius: 50px;
}

.testimonial-box .testimonial-content h4 {
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 2px;
	font-weight: 300;
}

.testimonial-box .testimonial-content h4 a {
	color: #8d8992;
}

.testimonial-box .testimonial-content h4 a:hover {
	color: #84b040;
}

.testimonial-box .testimonial-content h6 {
	color: #777777;
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 10px;
	font-weight: 500;
}

.testimonial-box .testimonial-content p {
	margin: 0;
}

.testimonial-box:hover {
	background-color: #84b040;
}

.testimonial-box:hover * {
	color: #fff !important;
}


/* =============================
14. Plan List Area
================================ */
.plan-color1{
	background-color:#3AD984;
}
.plan-color2{
	background-color:#FFA939;
}
.plan-color3{
	background-color:#F23D78;
}
.plan-list-table {
	margin: 0;
}

.plan-list-table thead {
	background-color: #84b040;
}

.plan-list-table thead th {
	border: 0;
	font-size: 16px;
	line-height: 1.4;
	color: #fff;
	font-weight: 500;
	text-align: center;
}

.plan-list-table tbody tr {
	background-color: #fff;
}

.plan-list-table tbody tr:nth-child(even) {
	background-color: #f5f5f5;
}

.plan-list-table tbody td {
	text-align: center;
	border: 0;
	font-size: 16px;
	line-height: 30px;
	color: #8d8992;
	padding: 10px 10px;
}
.plan-list-table tbody td .plan-btn {
	border: 0;
    border: 1px solid;
    border-radius: 50px;
    font-size: 15px;
    line-height: 1.4;
    color: #fff;
    padding: 8px 30px;
    display: inline-block;
}


/* =============================
15. Cart Checkout Area
================================ */

.cart-table {
	margin: 0;
}

.cart-table thead {
	background-color: #84b040;
}

.cart-table thead tr {}

.cart-table thead th {
	border: 0;
	font-size: 16px;
	line-height: 1.4;
	color: #fff;
	font-weight: 500;
	text-align: center;
}

.cart-table thead th:nth-child(2) {
	text-align: left;
}

.cart-table tbody {}

.cart-table tbody tr {
	background-color: #fff;
}

.cart-table tbody tr:nth-child(even) {
	background-color: #f5f5f5;
}

.cart-table tbody td {
	text-align: center;
	border: 0;
	font-size: 16px;
	line-height: 1.4;
	color: #8d8992;
	padding: 20px 10px;
}

.cart-table tbody td:nth-child(2) {
	text-align: left;
}

.cart-table tbody tr td:first-of-type {
	text-align: left;
}

.cart-table tbody tr td:first-of-type img {
	width: 40px;
	margin-left: 30px;
}

.cart-table tbody tr td:last-of-type img {
	width: 9px;
	cursor: pointer;
}

.checkout-form-title {
	font-size: 20px;
	line-height: 1.4;
	color: #8d8992;
	margin-bottom: 15px;
}

.checkout-form {
	margin-top: 40px;
}

.checkout-form input,
.checkout-form select {
	background-color: transparent;
	border: 1px solid rgba(0, 1, 1, 0.1);
	padding: 14px 20px;
}

.checkout-form select:hover,
.checkout-form select:focus,
.checkout-form input:hover,
.checkout-form input:focus {
	border: 1px solid rgba(0, 1, 1, 0.4);
	background-color: transparent;
}

.checkout-form button[type="submit"] {
	border-radius: 30px;
	border: 1px solid rgba(0, 1, 1, 0.1);
	font-size: 16px;
	line-height: 1.4;
	color: #84b040;
	background-color: transparent;
	padding: 10px 30px;
	display: inline-block;
}

.checkout-form button[type="submit"]:hover {
	border: 1px solid #84b040;
	color: #fff;
	background-color: #84b040;
}

.checkout-total-list {
	margin-bottom: 30px;
}

.checkout-total-list thead {
	background-color: #84b040;
}

.checkout-total-list thead th {
	border: 0;
	font-size: 16px;
	line-height: 1.4;
	color: #fff;
	font-weight: 500;
	text-align: center;
}

.checkout-total-list tbody tr {
	background-color: #fff;
}

.checkout-total-list tbody td {
	text-align: center;
	border: 0;
	font-size: 16px;
	line-height: 1.4;
	color: #8d8992;
	padding: 10px 10px;
}

#checkout-payment {
	margin-bottom: 30px;
}


/* =============================
16. General Question Area
================================ */

.general-question-area .themeix-highlight {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.general-question-area .general-question-img:before {
	content:"";
	width:100%;
	height:100%;
	background-color:rgba(128, 102, 220, 0.8);
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	top:0;
}
.general-question-content {
	max-width: 520px;
	width: 100%;
	padding-left: 35px;
}

.general-question-title h2 {
	font-size: 30px;
	line-height: 1.4;
	margin-bottom: 30px;
}

.general-question-title p {
	margin-bottom: 30px;
}


/* =============================
17. Blog Area
================================ */

.blog-post {
	margin-bottom: 30px;
}

.blog-post .blog-img {
	position: relative;
	margin-bottom: 25px;
	overflow: hidden;
}

.blog-post .blog-img img {
	width: 100%;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.blog-post .blog-img:hover img {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.blog-post .blog-calender {
	text-align: center;
	position: absolute;
	left: 15px;
	top: 15px;
	background-color: #F8F8FC;
	-webkit-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	visibility: hidden;
}

.blog-post:hover .blog-calender {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	visibility: visible;
}

.blog-post .calender-day {
	font-size: 20px;
	line-height: 1.4;
	color: #84b040;
	font-weight: 300;
	padding: 5px 25px;
}

.blog-post .calender-month {
	background-color: #84b040;
	font-size: 14px;
	line-height: 1.4;
	color: #ffffff;
	font-weight: 500;
	padding: 5px 25px;
	text-align: center;
}

.blog-post .blog-content {
	margin-bottom: 0;
}

.blog-post .blog-content h4 {
    font-size: 20px;
    line-height: 1.4;
	margin-bottom: 15px;

}

.blog-post .blog-content h4 a {
	color: #84b040;
}

.blog-post .blog-content h4 a:hover,
.blog-post .blog-content h4 a:focus {
	color: #84b040;
}
.blog-post .blog-content .recent-meta{
	font-size: 14px;
    line-height: 1.4;
}
.blog-post .blog-content .recent-meta li{
	margin-right:20px;
}

.blog-post .blog-content .recent-meta li a{
	color: #8d8992;
}
.blog-post .blog-content .recent-meta li a:hover{
	color: #84b040;
}
.blog-post .blog-content .recent-meta i{
	margin-right:5px;
}
.blog-post .blog-content p {
	margin-bottom: 20px;
}

.blog-post .blog-content .blog-readmore-btn {
	font-size: 16px;
	line-height: 1.4;
	color: #8d8992;
	font-weight: 300;
}

.blog-post .blog-content .blog-readmore-btn:hover {
	text-decoration:underline;
	color:#84b040
}

.blog-post .blog-content .blog-readmore-btn2 {
	font-size: 16px;
	line-height: 1.4;
	color: #84b040;
	font-weight: 300;
	border: 1px solid rgba(25, 38, 127, 0.12);
	border-radius: 50px;
	padding: 10px 30px;
	display: inline-block;
}

.blog-post .blog-content .blog-readmore-btn2:hover {
	background-color: #84b040;
	color: #fff;
}

.blog-spacing {
	margin-bottom: 70px;
}

.page-navigation .pagination {
	margin: 0;
}

.page-navigation .pagination li {
	margin-right: 10px;
}

.page-navigation .pagination li a {
	font-size: 16px;
	line-height: 1.4;
	color: #8d8992;
	border-radius: 20px !important;
	border: 1px solid rgba(25, 38, 127, 0.12);
	padding: 5px 30px;
}

.page-navigation .pagination li a.active,
.page-navigation .pagination li a:hover {
	background-color: #84b040;
	color: #fff;
}

.error-content {
	text-align: center;
}

.error-content .error-logo {
	color: #8d8992;
}

.error-content h4 {
	font-size: 30px;
	line-height: 1.4;
	margin-bottom: 35px;
}

.error-content .error-btn {
	border: 1px solid;
	border-radius: 50px;
	font-size: 16px;
	line-height: 1.4;
	color: #fff;
	background-color: #84b040;
	padding: 10px 30px;
	display: inline-block;
}

.error-content .error-btn:hover {
	border: 1px solid #84b040;
	color: #84b040;
	background-color: #fff;
}

.single-post .single-img {
	position: relative;
	margin-bottom: 25px;
}

.single-post .single-img img {
	width: 100%;
}

.single-post .single-calender {
	position: absolute;
	left: 0;
	top: 0;
	background-color: #F8F8FC;
}

.single-post .calender-day {
	font-size: 30px;
	line-height: 1.4;
	color: #84b040;
	font-weight: 300;
	padding: 15px 35px;
}

.single-post .calender-month {
	background-color: #84b040;
	font-size: 24px;
	line-height: 1.4;
	color: #ffffff;
	font-weight: 500;
	padding: 12px 35px;
	text-align: center;
}

.single-post .single-content {
	margin-bottom: 30px;
}

.single-post .single-content p {
	margin-bottom: 30px;
}

.single-post .single-content p:last-child {
	margin-bottom: 0;
}

.single-post .single-quote {
	position: relative;
	padding-left: 50px;
	margin-bottom: 30px;
}

.single-post .single-quote p {
	font-size: 16px;
	line-height: 1.4;
	margin: 0;
}

.single-post .single-quote:before {
	content: "";
	width: 2px;
	height: 100%;
	background-color: #84b040;
	position: absolute;
	top: 0;
	left: 0;
}

.single-post .single-quote:after {
	content: "";
	width: 24px;
	height: 25px;
	background-image: url(../images/post-qoute-icon.png);
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	top: 0;
	left: 14px;
}

.single-post .single-tags-share {
	display: table;
	width: 100%;
	background-color: #F7F7F7;
	margin-bottom: 40px;
	border-radius: 50px;
}

.single-post .single-tags-share .single-tags {
	font-size: 16px;
	line-height: 1.4;
	color: #8d8992;
	margin: 0;
	padding: 10px 20px;
}

.single-post .single-tags-share .single-tags li:first-child {
	font-weight: 500;
}

.single-post .single-tags-share .single-tags a {
	color: #8d8992;
}

.single-post .single-tags-share .single-tags a:hover,
.single-post .single-tags-share .single-tags a:focus {
	color: #84b040;
}

.single-post .single-tags-share .single-share {
	font-size: 16px;
	line-height: 1.4;
	margin: 0;
	padding: 10px 20px;
}

.single-post .single-tags-share .single-share li:first-child {
	font-weight: 500;
	color: #8d8992;
}

.single-post .single-tags-share .single-share a {
	color: #777777;
}

.single-post .single-tags-share .single-share a:hover,
.single-post .single-tags-share .single-share a:focus {
	color: #84b040;
}
.single-tags a {
	position: relative;
	padding: 0 5px;
}
/* .single-tags a::after {
	content:",";
	padding-left: 3px;
} */
.single-admin {
	position: relative;
	display: table;
	width: 100%;
	margin-bottom: 30px;
}

.single-admin .admin-avatar {
	width: 160px;
	height: 140px;
	object-fit: cover;
	background-size: cover;
	float: left;
}
.single-admin .admin-avatar img  {
    max-height: 130px;
    object-fit: cover;
    width: 100%;
}

.single-admin .admin-comment {
	width: calc(100% - 160px);
	float: left;
	padding-left: 25px;
	padding-top: 0;
}

.single-admin .admin-comment p {
	margin-bottom: 20px;
}

.single-admin .admin-comment h4 {
	font-size: 18px;
	line-height: 1.4;
	font-weight: 300;
	margin: 0;
}

.single-admin .admin-comment h6 {
	font-size: 14px;
	line-height: 1.4;
	color: #777777;
	font-weight: 500;
	margin: 0;
}

.page-pagination .pagination {
	margin-bottom: 30px;
}

.page-pagination .next-btn,
.page-pagination .prev-btn {
	font-size: 18px;
	line-height: 1.4;
	color: #8d8992;
	border-radius: 0;
	border: 0;
	padding: 0;
}

.page-pagination .next-btn:hover,
.page-pagination .prev-btn:hover {
	color: #84b040;
	background-color: transparent;
}

.page-pagination .prev-btn i {
	margin-left: 10px;
}

.page-pagination .next-btn i {
	margin-right: 5px;
}

.single-comment-title {
	font-size: 20px;
	line-height: 1.4;
	color: #84b040;
	margin-bottom: 20px;
}

.single-comment {
	display: table;
	width: 100%;
	margin-bottom: 35px;
}

.comment-wrapper {
	padding-left: 50px;
}

.single-comment-img {
	width: 68px;
	float: left;
}

.single-comment-desc {
	width: calc(100% - 68px);
	float: left;
	padding-left: 15px;
}

.single-comment-desc h4 {
	font-size: 18px;
	line-height: 1.4;
	font-weight: 300;
}

.single-comment-desc h4 .single-priod {
	font-size: 14px;
	line-height: 1.4;
	color: #777777;
	margin-left: 10px;
}

.single-comment-desc p {
	margin-bottom: 8px;
}

.single-comment-desc .single-comment-btn {
	color: #84b040;
	font-size: 16px;
	line-height: 1.4;
}

.comment-form-title {
	font-size: 20px;
	line-height: 1.4;
	color: #84b040;
	margin-bottom: 15px;
}

.comment-form input,
.comment-form textarea {
	background-color: transparent;
	border: 1px solid rgba(0, 1, 1, 0.1);
	padding: 14px 20px;
}

.comment-form textarea:hover,
.comment-form textarea:focus,
.comment-form input:hover,
.comment-form input:focus {
	border: 1px solid rgba(0, 1, 1, 0.4);
	background-color: transparent;
}

.comment-form button[type="submit"] {
	border-radius: 30px;
	border: 1px solid rgba(0, 1, 1, 0.1);
	font-size: 16px;
	line-height: 1.4;
	color: #fff;
	background-color: #84b040;
	padding: 10px 30px;
	display: inline-block;
}

.comment-form button[type="submit"]:hover {
	border: 1px solid #8d8992;
	color: #8d8992;
	background-color: #fff;
}


/* =============================
18. Sidebar Area
================================ */

.sidebar-title {
	margin-bottom: 15px;
	color:#84b040;
	font-size: 20px;
	line-height: 1.4;
	font-weight: 300;
}

.search-form-widget {
	display: block;
}

.search-form-widget input[type="text"] {
	background-color: #F7F7F7;
	border: 0;
	padding: 10px 20px;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
}

.search-form-widget button[type="submit"] {
	background-color: #84b040;
	font-size: 20px;
	line-height: 1.4;
	color: #fff;
	padding: 10px 25px;
	border: 0;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
}

.search-form-widget button[type="submit"]:hover {
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.category-widget {
	margin: 0;
}

.category-widget li {
	border: 0;
	border-radius: 0 !important;
	padding: 10px 0;
	border-bottom: 1px solid rgba(25, 38, 127, 0.12);
	margin: 0;
	position: relative;
}

.category-widget li:before {
	content: "\f111";
	font-family: "FontAwesome";
	color: #BABDD8;
	font-size: 9px;
	margin-right: 5px;
	position: relative;
	bottom: 2px;
}

.category-widget li.list-group-active:before,
.category-widget li:hover:before {
	color: #84b040;
}

.category-widget li a {
	font-size: 16px;
	line-height: 1.4;
	color: #8d8992;

}

.category-widget li:hover a,
.category-widget li.list-group-active a {
	color: #84b040;
}

.category-widget li:last-child {
	padding-bottom: 0;
	border: 0;
}

.category-widget li:first-child {
	padding-top: 0;
}

.recent-widget {
	display: block;
}

.recent-widget .recent-wrapper {
	display: table;
	width: 100%;
	margin-bottom: 20px;
}

.recent-widget .recent-wrapper .recent-img {
	width: 85px;
	float: left;
	overflow: hidden;
}

.recent-widget .recent-wrapper .recent-img img {
	width: 100%;
	-webkit-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
}

.recent-widget .recent-wrapper .recent-img:hover img {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

.recent-widget .recent-wrapper .recent-details {
	width: calc(100% - 85px);
	padding-left: 12px;
	float: left;
}

.recent-widget .recent-wrapper .recent-details h6 {
	font-size: 16px;
	line-height: 1.4;

}

.recent-widget .recent-wrapper .recent-details h6 a {
	color: #8d8992;
}

.recent-widget .recent-wrapper .recent-details h6 a:hover {
	color: #84b040;
}

.recent-widget .recent-wrapper .recent-meta {
	margin: 0;
	font-size: 13px;
	line-height: 1.4;
}

.tag-widget {
	margin: 0;
}

.tag-widget li {
	margin-bottom: 10px;
}

.tag-widget a {
	color: #8d8992;
	border: 1px solid rgba(25, 38, 127, 0.12);
	border-radius: 50px;
	padding: 8px 30px;
	display: inline-block;
	margin: 5px;
}

.tag-widget a:hover {
	color: #84b040;
}

.sidebar-widget {
	margin-bottom: 60px;
}


/* =============================
19. Hosting Solution Area
================================ */

.hosting-solution-wrapper h2 {
	font-size: 30px;
	line-height: 1.4;
	font-weight: 300;
	margin-bottom: 30px;
}

.hosting-solution-wrapper h4 {
	margin-bottom: 38px;
}

.hosting-solution-wrapper .hosting-text-big {
	font-size: 30px;
	line-height: 1.4;
	color: #84b040;
	font-weight: 300;
}

.hosting-solution-wrapper .hosting-text-small {
	font-size: 24px;
	line-height: 1.4;
	color: #777777;
	font-weight: 500;
}

.hosting-solution-wrapper .hosting-to-btn {
	border: 1px solid;
	border-radius: 50px;
	font-size: 16px;
	line-height: 1.4;
	color: #fff;
	background-color: #84b040;
	padding: 15px 40px;
	display: inline-block;
}

.hosting-solution-wrapper .hosting-to-btn:hover,
.hosting-solution-wrapper .hosting-to-btn:focus {
	color: #84b040;
	background-color: transparent;
	border-color: #84b040;
}


/* =============================
20. Got Questions Area
================================ */

.got-questions-wrapper h2 {
	font-size: 34px;
	line-height: 1.4;
	color: #fff;
	margin-bottom: 5px;
}

.got-questions-wrapper p {
	margin: 0;
	font-size: 20px;
	color: #fff;
	font-style: italic;
	line-height: 1.4;
}

.got-questions-wrapper .got-questions-btn {
	font-size: 18px;
	line-height: 1.4;
	color: #425058;
	border: 1px solid #fff;
	background-color: #fff;
	border-radius: 50px;
	padding: 10px 30px;
	display: inline-block;
	top: 50%;
	position: relative;
	-ms-transform: translate(0px, 10px);
	transform: translate(0px, 10px);
	-moz-transform: translate(0px, 10px);
	-webkit-transform: translate(0px, 10px);
}

.got-questions-wrapper .got-questions-btn:hover,
.got-questions-wrapper .got-questions-btn:focus {
	background-color: #84b040;
	color: #fff;
	border-color: #fff;
}


/* =============================
21. Register Area
================================ */

.register-form {
	max-width: 450px;
	width: 100%;
}

.register-title {
	font-size: 30px;
	line-height: 1.4;
	color: #8d8992;
	margin-bottom: 20px;
}

.register-form textarea,
.register-form input {
	border: 1px solid rgba(0, 1, 1, 0.1);
	padding: 14px 20px;
}

.register-form .form-label {
	font-size: 14px;
	line-height: 1.4;
	color: #8d8992;
	padding-top: 5px;
	display: inline-block;
	padding-left: 20px;
}

.register-form textare:hover,
.register-form textarea:focus,
.register-form input:hover,
.register-form input:focus {
	border: 1px solid rgba(0, 1, 1, 0.4);
	background-color: transparent;
}

.register-form button[type="submit"] {
	border-radius: 30px;
	border: 1px solid #84b040;
	font-size: 16px;
	line-height: 1.4;
	color: #fff;
	background-color: #84b040;
	padding: 10px 30px;
	display: inline-block;
	font-weight: 300;
}

.register-form button[type="submit"]:hover {
	border: 1px solid #84b040;
	color: #84b040;
	background-color: #fff;
}


/* =============================
22. Contact Area
================================ */

.contact-title {
	font-size: 30px;
	line-height: 1.4;
	color: #8d8992;
	margin-bottom: 30px;
}

.contact-form input,
.contact-form textarea {
	background-color: transparent;
	border: 1px solid rgba(0, 1, 1, 0.1);
	padding: 14px 20px;
}

.contact-form textarea:hover,
.contact-form textarea:focus,
.contact-form input:hover,
.contact-form input:focus {
	border: 1px solid rgba(0, 1, 1, 0.4);
	background-color: transparent;
}

.contact-form button[type="submit"] {
	border-radius: 30px;
	border: 1px solid rgba(0, 1, 1, 0.1);
	font-size: 16px;
	line-height: 1.4;
	color: #84b040;
	background-color: transparent;
	padding: 10px 30px;
	display: inline-block;
}

.contact-form button[type="submit"]:hover {
	border: 1px solid #84b040;
	color: #fff;
	background-color: #84b040;
}

.col-6.contact-map.themeix-highlight {
	margin: 0;
	padding: 0;
}

.contact-map iframe {
	min-height: 450px
}


/* =============================
23. Privacy Policy Area
================================ */

.privacy-policy-box {
	display: table;
	width: 100%;
	margin-bottom: 50px;
}

.privacy-policy-box:last-child {
	margin-bottom: 0;
}

.privacy-policy-box .privacy-policy-icon {
	float: left;
	border-radius: 50px;
	width: 65px;
	height: 65px;
	float: left;
	border: 1px solid #6B53C1;
	;
	overflow: hidden;
	position: relative;
	background-color: transparent;
}

.privacy-policy-box .privacy-policy-icon img {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.privacy-policy-box .privacy-policy-content {
	float: left;
	width: calc(100% - 65px);
	padding-left: 30px;
}

.privacy-policy-box .privacy-policy-content h4 {
	font-size: 20px;
	line-height: 1.4;
	font-weight: 300;
	margin-bottom: 20px;
}

.privacy-policy-box .privacy-policy-content p {
	margin-bottom: 30px;
}

.privacy-policy-box .privacy-policy-content p:last-child {
	margin: 0;
}


/* =============================
24. Shop Area
================================ */

.shop-product-box {
	border:1px solid #f5f5f5;
	margin-bottom: 30px;
	text-align: center;
	-webkit-box-shadow: 0px 0px 21px 5px rgba(24, 38, 127, 0);
	box-shadow: 0px 0px 21px 5px rgba(24, 38, 127, 0);
	padding: 60px 30px;
	text-align: center;
	-webkit-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

.shop-product-box:hover {
	-webkit-box-shadow: 0px 0px 21px 5px rgba(24, 38, 127, 0.08);
	box-shadow: 0px 0px 21px 5px rgba(24, 38, 127, 0.08);
}

.shop-product-box .shop-product-img {
	margin-bottom: 30px;
}

.shop-product-box .shop-product-img img {
	-webkit-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.shop-product-box:hover .shop-product-img img {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.shop-product-box .shop-product-overview {
	position: relative;
	width: 100%;
	height: 30px;
	margin-bottom: 5px;
}

.shop-product-box .shop-product-rating {
	margin: 0;
	position: absolute;
	left: 0;
	right: 0;
	display: block;
}

.shop-product-box:hover .shop-product-rating {
	display: none;
}

.shop-product-box .shop-product-rating li {
	margin: 0;
	padding: 0;
	font-size: 18px;
	line-height: 1.4;
	font-weight: 500;
	color: #84b040;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}

.shop-product-box .shop-product-view {
	margin: 0;
	position: absolute;
	left: 0;
	right: 0;
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
	visibility: hidden;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.shop-product-box:hover .shop-product-view {
	-webkit-transform: scale(1.0);
	-ms-transform: scale(1.0);
	transform: scale(1.0);
	visibility: visible;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.shop-product-box h4 {
	font-size: 16px;
	line-height: 1.4;
	margin-bottom: 10px;
}

.shop-product-box h4 a {
	color: #8d8992;
}

.shop-product-box h4 a:hover {
	color: #84b040;
}

.shop-product-box h6 {
	font-size: 20px;
	line-height: 1.4;
	color: #777777;
	font-weight: 300;
	margin: 0;
}

.shop-product-box .price-discount {
	font-size: 24px;
	line-height: 1.4;
	color: #84b040;
	font-weight: 300;
	margin-left: 10px;
}

.shop-thumbnail-slider {}

.shop-thumbnail-big {
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 21px 5px rgba(24, 38, 127, 0.08);
	box-shadow: 0px 0px 21px 5px rgba(24, 38, 127, 0.08);
	padding: 115px 5px;
	text-align: center;
	margin-bottom: 35px;
}

.shop-thumbnail-big div img {
	margin: auto;
}

.shop-thumbnail-small {
	margin-bottom: 60px;
}

.shop-thumbnail-small .slide {
	border: 1px solid rgba(0, 1, 1, 0.1);
	height: 85px;
	margin-right: 20px;
	position: relative;
}

.shop-thumbnail-small .slide img {
	width: 60px;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.shop-thumbnail-small .slide.slick-current {
	border: 1px solid #84b040;
	background-color: #FBFBFB;
}

.single-shop-content {
	margin-bottom: 30px;
}

.single-shop-content .shop-product-rating {
	display: block;
	margin-bottom: 30px;
}

.single-shop-content .shop-product-rating li {
	margin: 0;
	padding: 0;
	font-size: 20px;
	line-height: 1.4;
	font-weight: 500;
	color: #84b040;
}

.single-shop-content h4 {
	font-size: 30px;
	line-height: 1.4;
	font-weight: 300;
	margin-bottom: 5px;
}

.single-shop-content h6 {
	font-size: 20px;
	line-height: 1.4;
	color: #777777;
	font-weight: 300;
	margin-bottom: 5px;
}

.single-shop-content p {
	margin-bottom: 30px;
}

.single-shop-content .price-discount {
	font-size: 24px;
	line-height: 1.4;
	color: #84b040;
	font-weight: 300;
	margin-left: 10px;
}

.single-shop-content input[type="number"] {
	background-color: transparent;
	border: 1px solid rgba(0, 1, 1, 0.1);
	padding: 8px 20px;
}

.single-shop-content .add-to-cart-btn {
	border: 1px solid;
	border-radius: 0;
	font-size: 16px;
	line-height: 1.4;
	color: #fff;
	background-color: #84b040;
	padding: 8px 30px;
	display: inline-block;
}

.single-shop-content .add-to-cart-btn:hover {
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.shop-add-to-cart li {
	float: left;
	margin-right: 10px;
}

.shop-single-tab {
	padding-bottom: 20px;
}

.shop-single-tab li {
	margin-right: 30px;
}

.shop-single-tab li a {
	padding: 6px 20px;
	border-bottom: 1px solid #C4C4C4;
	border-radius: 0 !important;
	background-color: transparent !important;
	color: #000 !important;
	font-size: 20px;
	line-height: 1.4;
	font-weight: 300;
}

.shop-single-tab li a.active {
	border-bottom: 1px solid #84b040;
}

.shop-single-title {
	font-size: 24px;
	line-height: 1.4;
	color: #000;
	margin-bottom: 15px;
}

.shop-single-tab-content {
	margin-bottom: 60px;
}

.shop-single-tab-content .shop-review {
	margin: 0;
}

.shop-single-tab-content .shop-review li {
	margin-bottom: 15px;
}

.shop-single-tab-content .shop-review li p {
	margin: 0;
}

.shop-single-tab-content .shop-review-star {
	margin-top: 5px;
	font-size: 14px;
	line-height: 1.4;
}

.shop-product-slider .shop-product-box {
	-webkit-box-shadow: none!important;
	box-shadow: none!important;
	padding: 0px 15px;
	padding-top: 15px;
}

.shop-product-slider .shop-product-img {
	margin: auto;
	max-width: 100px;
	margin-bottom: 30px;
}

.cart-search-form {
	margin-top: 60px;
}

.cart-search-form input[type="text"] {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	background-color: #fff;
	padding: 13px 20px;
	border: 1px solid #F5F5F5;
	border-right: 0;
}

.cart-search-form button {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	background-color: #84b040;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 0;
	color: #fff;
	font-weight: 300;
	font-size: 16px;
	padding: 15px 20px;
}

.cart-search-form button:hover,
.cart-search-form button:focus {
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.cart-wrapper .cart-procced-btn {
	background-color: #84b040;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 0;
	color: #fff;
	font-weight: 300;
	font-size: 16px;
	padding: 15px 20px;
	margin-top: 60px;
}

.cart-wrapper .cart-procced-btn:hover,
.cart-wrapper .cart-procced-btn:focus {
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.simplecart-box {
	margin-bottom: 30px;
}

.simplecart-box .cart-header {
	margin: 0;
	position: relative;
	overflow: hidden;
}

.simplecart-box .cart-header img {
	width: 100%;
	-webkit-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.simplecart-box .cart-angle {
	width: 105%;
	height: 61px;
	-webkit-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	transform: rotate(-3deg);
	background: #84b040;
	position: absolute;
	bottom: -30px;
	left: 0;
	right: 0;
}

.simplecart-box .cart-anglehover {
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-bottom: 40px solid #84b040;
	position: absolute;
	bottom: -70px;
	left: 20px;
	-webkit-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
	visibility: hidden;
}

.simplecart-box .cart-body {
	position: relative;
	padding: 10px 30px 40px;
	background-color: #84b040;
}

.simplecart-box .cart-body h4 {
	font-size: 20px;
	line-height: 1.4;
	font-weight: 500;
	margin-bottom: 10px;
	color: #fff;
}

.simplecart-box .cart-body h4 a {
	color: #fff;
}

.simplecart-box .cart-body p {
	margin-bottom: 30px;
	color: #fff;
}

.simplecart-box .cart-btn {
	border-radius: 50px;
	font-size: 16px;
	line-height: 1.4;
	color: #84b040;
	padding: 10px 30px;
	display: inline-block;
	border: 1px solid #84b040;
	color: #84b040;
	background-color: #fff;
}

.simplecart-box .cart-btn:hover {
	border: 1px solid #fff;
	color: #fff;
	background-color: #84b040;
}

.simplecart-box:hover .cart-anglehover {
	bottom: 0;
	visibility: visible;
}

.simplecart-box:hover .cart-header img {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}


/* =============================
25. Footer Area
================================ */

.footer-contact {}

.footer-contact .footer-contact-intro {

	padding: 40px 0px;
	text-align: center;
}

.footer-contact .footer-contact-intro p a,
.footer-contact .footer-contact-intro p {
	margin: 0;
	color: #425058;
    font-weight: 300;
    font-size: 18px;
}

.footer-contact .footer-contact-intro p .footer-contact-icon {
	display: block;
	margin-bottom: 30px;
}

 
.footer-contact .footer-contact-intro .footer-contact-icon i {
    color: #84b040;
    -webkit-transition: 1s all;
    -o-transition: 1s all;
    transition: 1s all;
    padding: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 40px;
    line-height: 1.4;
    margin-bottom: 15px;
}

.footer-contact .footer-contact-intro:hover .footer-contact-icon i {
	background: transparent;
	color: #8d8992;
}

.footer-contact .footer-contact-center {
	background-color: #6b53c1
}

.footer-widget .footer-logo {
	margin-bottom: 25px;
	display: block;
}

.footer-wrapper {
	padding: 100px 0px;
	border-bottom: 1px solid rgba(25, 36, 129, 0.13);
}

.footer-widget.footer-about p {
	margin-bottom: 20px;
}

.footer-widget .footer-share-link {
	margin-bottom: 0;
	display: table;
	width: 100%;
}

.footer-widget .footer-share-link li {
	margin-right: 10px;
	padding: 0;
	float: left;
}

.footer-widget .footer-share-link li a {
	width: 40px;
	height: 40px;
	border-radius: 50px;
	display: inline-block;
	font-size: 16px;
	line-height: 1.4;
	color: #fff;
	padding: 8px 2px;
	text-align: center;
}
.tag-cloud-wrapper a  {
	display: block;
	font-size: 16px;
	line-height: 1.4;
	color: #8d8992;
	padding: 8px 2px;
	text-transform: capitalize;
}

.footer-widget .footer-share-link li:nth-child(1) a {
	background-color: #3C85AE;
}

.footer-widget .footer-share-link li:nth-child(2) a {
	background-color: #4EB8EC;
}

.footer-widget .footer-share-link li:nth-child(3) a {
	background-color: #D14B2E;
}

.footer-widget .footer-share-link li a:hover,
.footer-widget .footer-share-link li a:focus,
.footer-widget .footer-share-link li a:active {
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.footer-widget .footer-title {
	font-size: 20px;
	line-height: 1.4;
	margin-bottom: 20px;
	text-transform: capitalize;
	    color: #84b040;
}

.footer-widget .footer-latest .footer-latest-item {
	margin-bottom: 15px;
	display: table;
	width: 100%;
}

.footer-widget .footer-latest .footer-latest-item:last-child {
	margin-bottom: 0;
}

.footer-widget .footer-latest .footer-latest-img {
	float: left;
	width: 65px;
}

.footer-widget .footer-latest-img {
	position: relative;
	overflow: hidden;
}

.footer-widget .footer-latest-img img {
	width: 100%;
	-webkit-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
}

.footer-widget .footer-latest-img:hover img {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

.footer-widget .footer-latest .footer-latest-content {
	width: calc(100% - 65px);
	padding-left: 15px;
	float: left;
}

.footer-widget .footer-latest-content p {
	margin: 0;
	line-height: 1.4;
}

.footer-widget .footer-latest-content a {
	color: #8d8992;
}

.footer-widget .footer-latest-content a:hover {
	color: #84b040;
}

.footer-widget .footer-category {
	margin: 0;
}

.footer-widget .footer-category li {
	margin-bottom: 10px;
	display: block;
}

.footer-widget .footer-category li:last-child {
	margin-bottom: 0;
}

.footer-widget .footer-category li a {
	text-transform: capitalize;
	color: #8d8992;
}

.footer-widget .footer-category li a:hover {
	color: #84b040;
}

.footer-widget .footer-contact-us {
	margin: 0;
}

.footer-widget .footer-contact-us li {
	font-size: 16px;
	line-height: 1.4;
	color: #8d8992;
	margin-bottom: 10px;
	padding-left: 25px;
	position: relative;
}

.footer-widget .footer-contact-us li img {
	position: absolute;
	left: 0;
	top: 6px;
}

.footer-widget .footer-contact-us li:last-child {
	margin-bottom: 20px;
}

.footer-copyright {
	padding: 20px 0;
}

.footer-copyright-text p {
	margin: 6px 0 0 0;
	font-size: 15px;
	line-height: 1.4;
	color: #425058;
	font-weight: 300;
	text-align: left;
}

.footer-copyright a {
	margin: 0;
	color: #84b040;
}

.footer-copyright-menu {
	margin: 0;
	float: right;
}

.footer-copyright-menu li a {
	font-size: 15px;
	line-height: 1.4;
	font-weight: 300;
	    padding-left: 20px;
	position: relative;
}

.footer-copyright-menu li a:hover {
	text-decoration: underline;
}
.zsFormClass {
	background-color: #FFFFFF;
	width: auto
}

.color-white,
.color-white:hover {
	color: white!important
}
#results-container {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 15px;
}
#results-container li a {
	display: block;
	padding: 5px;
	text-transform: capitalize;
	color: #6f6c73;
	transition: all .4s linear 0s;
}
#results-container li a:hover {
	color: #6d42bc;
	text-decoration: none;
}
.reverse {
	color: #ffffff;
}